In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Table, Column, Integer, String

In [3]:
import sqlite3
import os
from sqlalchemy import MetaData
from sqlalchemy.orm import mapper

In [4]:
#set the file name to read the excel sheets
xls_file_name='Annual_Expenditures/GDX_FY20.xlsx'
sql_file_name='Annual_Expenditures/GDX_FY20.db'

#path of the excel file to get all the sheets from the excel file into xls sheet name list
xls = pd.ExcelFile(xls_file_name)
print(xls_file_name)
print(xls.sheet_names)

Annual_Expenditures/GDX_FY20.xlsx
['Data Guide', 'State Level Expenditures', 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY', 'PR', 'GU']

In [5]:
#For loop to get the sheet name for excel file
for sheet_name in xls.sheet_names:
    
    #print the sheet name
    print(sheet_name)
    
    #set the table name 
    sqlite_table = "tbl_"+sheet_name
    
    #print name of the table
    print(sqlite_table)
    
    #read the excel sheet in the pandas dataframe
    #with the argument sheet_name.
    df = pd.read_excel(xls_file_name, sheet_name=sheet_name, index_col=None)
    
    if (sheet_name == 'State Level Expenditures'):
        print('SLE_DERYA',sheet_name)
        df.drop([0,2,4], axis=0, inplace=True)
        #df.drop([2], axis=0, inplace=True)
        #df.drop([3], axis=0, inplace=True)
        df.drop("Unnamed: 3", axis=1, inplace=True)
        df.drop("Unnamed: 4", axis=1, inplace=True)
        df.drop("Unnamed: 5", axis=1, inplace=True)
        df.drop("Unnamed: 6", axis=1, inplace=True)
        df.drop("Unnamed: 7", axis=1, inplace=True)
        df.drop("Unnamed: 8", axis=1, inplace=True)
#     else:
#         print('A STATE NAME:',sheet_name)
#         df.drop([0], axis=0, inplace=True)
#         #df.drop([2], axis=0, inplace=True)
#         #df.drop([3], axis=0, inplace=True)
#         df.drop("Unnamed: 3", axis=1, inplace=True)
#         df.drop("Unnamed: 4", axis=1, inplace=True)
#         df.drop("Unnamed: 5", axis=1, inplace=True)
#         df.drop("Unnamed: 6", axis=1, inplace=True)
#         df.drop("Unnamed: 7", axis=1, inplace=True)
#         df.drop("Unnamed: 8", axis=1, inplace=True)

    # print top 10 rows from dataframe
    print(df.head(6))

    print("=====================================")
    
    #create SQLite database connection
    conn = sqlite3.connect(sql_file_name)
    
    #store data into SQLite database table
    df.to_sql(sqlite_table, conn, if_exists='append', index=False)
    
    #close SQLite database connection
    conn.close()

Data Guide
tbl_Data Guide
                                          Unnamed: 0
0  GEOGRAPHIC DISTRIBUTION OF VA EXPENDITURES (GD...
1                                                NaN
2                                                NaN
3  Prepared by the National Center for Veterans A...
4                                                NaN
5     Please direct any questions to vancvas@va.gov
=====================================
State Level Expenditures
tbl_State Level Expenditures

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

SLE_DERYA State Level Expenditures
               FY20 Summary of Expenditures by State           Unnamed: 1  \
1                                              State  Veteran Population*
3                                             Totals      19465697.947514
5                                             Alaska         69383.634224
6  Arizona                                       ...        504451.407238
7  Arkansas                                      ...        202517.337955
8                                         California       1659400.686293

          Unnamed: 2       Unnamed: 9         Unnamed: 10
1  Total Expenditure     Medical Care  Unique Patients **
3   217953742.328477  86807908.367827             6108277
5      875583.411116    417577.526636               21685
6     5244621.257272   2308160.719842              163613
7     2674496.021194   1208500.446964               83510
8    19163866.067416   7851926.239446              459981
=====================================
AK
tbl_AK

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                        ALEUTIANS EAST           100.189767
3                        ALEUTIANS WEST           163.044127
4                             ANCHORAGE          29777.83135
5                                BETHEL           928.983089

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2         195.087055                   20.19             0
3         468.632955                 235.488             0
4      412971.082636              158654.093    1962.19915
5          2050.3553                 923.828             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                                  0               0
3                                             45.839               0
4                                          30680.018               0
5                                            101.242               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                           0                        0     174.897055
3                           0                     0.46     186.845955
4                 29159.42337                  937.273  191578.076116
5                           0                    2.583      1022.7023

         Unnamed: 10
0                NaN
1  Unique Patients**
2                  *
3                 26
4               9511
5                 76
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

AL
tbl_AL
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               AUTAUGA          5745.749068
3                               BALDWIN          19613.79353
4                               BARBOUR          1875.224857
5                                  BIBB          1282.670442

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       72259.832888               47212.451             0
3      163842.975075              108057.178             0
4       20017.845794               13518.458             0
5       13476.972637                 7824.11             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           5229.472               0
3                                           8270.671               0
4                                            655.994               0
5                                            378.552               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   313.33  19504.579888
3                           0                  971.335  46543.791075
4                           0                   40.201   5803.192794
5                           0                    15.46   5258.850637

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1671
3               5175
4                556
5                414
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

AR
tbl_AR
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ARKANSAS          1135.900406
3                                ASHLEY          1165.942516
4                                BAXTER          4367.076777
5                                BENTON         15987.695022

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       12415.360888                5655.176             0
3       15135.538102                8279.239             0
4       51771.944517               27160.506             0
5      171934.011011               81952.726             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            178.576               0
3                                            316.856               0
4                                            842.844               0
5                                           6228.361               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                    27.92   6553.688888
3                           0                   40.168   6499.275102
4                           0                  156.478  23612.116517
5                           0                  974.044  82778.880011

         Unnamed: 10
0                NaN
1  Unique Patients**
2                384
3                466
4               2068
5               6166
=====================================
AZ
tbl_AZ

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                APACHE          3004.306071
3                               COCHISE         20493.364203
4                              COCONINO          7624.054754
5                                  GILA          5214.904998

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       36660.204583               19887.788             0
3      232481.667613              132284.874             0
4       65217.486366               29085.034             0
5       53283.873194               26480.595             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           1263.087               0
3                                          12133.005               0
4                                            7108.87               0
5                                            665.932               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  120.697  15388.632583
3                           0                  572.874  87490.914613
4                           0                    271.2  28752.382366
5                           0                  229.392  25907.954194

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1318
3               7476
4               2320
5               1945
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

CA
tbl_CA
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               ALAMEDA          50827.60795
3                                ALPINE            88.506061
4                                AMADOR          3445.696658
5                                 BUTTE         14528.278495

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2      564829.750443               196618.46    2158.44802
3         377.776891                 225.547             0
4       34566.409664               17279.621             0
5       133106.18231               68392.694             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          53287.892               0
3                                              16.83               0
4                                            1126.79               0
5                                            6936.58               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                 42041.64092                 4132.274  266591.035503
3                           0                        0     135.399891
4                           0                  180.892   15979.106664
5                           0                  668.295    57108.61331

         Unnamed: 10
0                NaN
1  Unique Patients**
2              11487
3                 13
4               1029
5               4391
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

CO
tbl_CO
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS         28245.611688
3                               ALAMOSA           899.275253
4                              ARAPAHOE         40954.114432
5                             ARCHULETA          1291.120362

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2      265782.982578                97197.87    6779.08756
3       12011.953745                6145.556             0
4      392757.226934              185490.735             0
5        12160.74798                6673.729             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          20612.791               0
3                                            297.956               0
4                                          39640.098               0
5                                            179.798               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                  4358.44524                 1052.436  135782.352778
3                           0                  259.626    5308.815745
4                           0                  2785.37  164841.023934
5                           0                   65.115     5242.10598

         Unnamed: 10
0                NaN
1  Unique Patients**
2               6992
3                396
4              10098
5                486
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

CT
tbl_CT
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                             FAIRFIELD          31933.45755
3                              HARTFORD          40528.74821
4                            LITCHFIELD         10151.256704
5                             MIDDLESEX           8334.35985

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2      207479.323906               73165.245             0
3       352595.84329               138740.44             0
4       77353.976054               34293.205             0
5       75462.961312               30690.188             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          14394.692               0
3                                          20578.579               0
4                                           4723.432               0
5                                           5899.866               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                           0                 5022.026  114897.360906
3                  15792.7727                 4790.203   172693.84859
4                           0                  807.591   37529.748054
5                           0                  795.428   38077.479312

         Unnamed: 10
0                NaN
1  Unique Patients**
2               7351
3              11885
4               3163
5               2689
=====================================
DC
tbl_DC

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                  DISTRICT OF COLUMBIA           28928.3053
3                                   NaN                  NaN
4                           DC (Totals)           28928.3053
5                                   NaN                  NaN

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2     4483297.496732               117273.12  416504.64383
3                NaN                     NaN           NaN
4     4483297.496732               117273.12  416504.64383
5                NaN                     NaN           NaN

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          30933.682               0
3                                                NaN             NaN
4                                          30933.682               0
5                                                NaN             NaN

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2               3637758.22184                 2175.216  278652.613062
3                         NaN                      NaN            NaN
4               3637758.22184                 2175.216  278652.613062
5                         NaN                      NaN            NaN

         Unnamed: 10
0                NaN
1  Unique Patients**
2               7677
3                NaN
4               7677
5                NaN
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

DE
tbl_DE
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                  KENT          18041.26963
3                            NEW CASTLE         32237.487626
4                                SUSSEX         20060.817712
5                                   NaN                  NaN

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2      178670.743176              112964.692             0
3      285538.328298              120483.324    7209.87803
4      125099.110917               74191.592             0
5                NaN                     NaN           NaN

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          14376.305               0
3                                          14861.422               0
4                                           4774.339               0
5                                                NaN             NaN

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                           0                 1101.909   50227.837176
3                   712.38664                 2239.081  140032.236628
4                           0                 1257.355   44875.824917
5                         NaN                      NaN            NaN

         Unnamed: 10
0                NaN
1  Unique Patients**
2               4640
3               8035
4               4655
5                NaN
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

FL
tbl_FL
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               ALACHUA         17937.568167
3                                 BAKER           1845.17205
4                                   BAY          22346.83535
5                              BRADFORD          2050.931494

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       288177.32341               93965.814     136.67098
3       21850.114067               10545.276             0
4      206558.412246              144236.973             0
5        30855.08947               10265.888             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          12409.457               0
3                                              965.5               0
4                                          10989.506               0
5                                              806.3               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                  4237.97741                 1099.199  176328.20502
3                           0                   74.231  10265.107067
4                           0                 1057.422  50274.511246
5                           0                  110.021   19672.88047

         Unnamed: 10
0                NaN
1  Unique Patients**
2               7379
3                694
4               5948
5                927
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

GA
tbl_GA
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               APPLING          1061.709011
3                              ATKINSON           366.288267
4                                 BACON           721.222157
5                                 BAKER           191.682602

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        8953.733297                4760.897             0
3        4673.560989                2199.296             0
4        5220.892086                2881.509             0
5        1927.575638                1017.515             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            253.917               0
3                                             103.55               0
4                                            129.655               0
5                                             36.279               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   12.009   3926.910297
3                           0                    10.25   2360.464989
4                           0                   20.143   2189.585086
5                           0                        0    873.781638

         Unnamed: 10
0                NaN
1  Unique Patients**
2                357
3                168
4                189
5                 71
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

HI
tbl_HI
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                HAWAII          15513.52499
3                              HONOLULU         84732.757879
4                               KALAWAO             19.76331
5                                 KAUAI          4533.746964

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2      149396.569107               74511.855             0
3      905339.473555              430333.802     625.48094
4            4.50362                       0             0
5       46896.637824               20459.509             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           5311.747               0
3                                         160446.799               0
4                                                  0               0
5                                           1155.235               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                           0                    542.6   69030.367107
3                 18062.59613                 8937.393  286933.402485
4                           0                        0        4.50362
5                           0                  406.266   24875.627824

         Unnamed: 10
0                NaN
1  Unique Patients**
2               4605
3              20506
4                  *
5                  *
=====================================
IA
tbl_IA

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAIR           487.438973
3                                 ADAMS           297.979425
4                             ALLAMAKEE            912.10621
5                             APPANOOSE           918.184884

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        4022.196288                1472.024             0
3        1826.220881                1021.894             0
4        9562.991751                 4345.19             0
5       10478.498738                3883.011             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                             50.566               0
3                                             31.398               0
4                                            193.972               0
5                                             64.237               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   84.726   2414.880288
3                           0                    10.84    762.088881
4                           0                  178.506   4845.323751
5                           0                   12.748   6518.502738

         Unnamed: 10
0                NaN
1  Unique Patients**
2                169
3                 94
4                410
5                369
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

ID
tbl_ID
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                   ADA           32444.2909
3                                 ADAMS           507.245689
4                               BANNOCK          5703.175839
5                             BEAR LAKE           325.692283

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2      398282.340603              180456.579     224.91385
3        5488.367464                2311.673             0
4       56192.124117               29584.207             0
5        3316.228956                1665.585             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          21896.379               0
3                                             16.645               0
4                                           3124.595               0
5                                             78.978               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                 12467.23863                 2270.551  180966.679123
3                           0                    6.561    3153.488464
4                           0                  188.635   23294.687117
5                           0                   25.697    1545.968956

         Unnamed: 10
0                NaN
1  Unique Patients**
2              12994
3                191
4               2068
5                122
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

IL
tbl_IL
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          4681.075225
3                             ALEXANDER           422.767376
4                                  BOND          1161.219779
5                                 BOONE          2759.361438

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       42670.699366               24260.615             0
3        8512.544145                3193.154             0
4        8890.015417                5105.237             0
5       18909.600691                8726.066             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           1073.782               0
3                                            144.947               0
4                                              272.4               0
5                                            916.435               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  364.968  16971.334366
3                           0                   55.903   5118.540145
4                           0                   58.512   3453.866417
5                           0                  186.035   9081.064691

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1676
3                229
4                272
5                854
=====================================
IN
tbl_IN

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS           1609.31664
3                                 ALLEN         21571.394002
4                           BARTHOLOMEW           4235.34647
5                                BENTON           508.575885

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       10256.157039                5062.033             0
3      193840.097904               76380.315             0
4       35681.109578               17553.703             0
5         3881.77969                  1699.9             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            327.035               0
3                                           6991.223               0
4                                           1493.839               0
5                                             120.63               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                           0                   10.888    4856.201039
3                    959.5369                  1272.24  108236.783004
4                           0                  163.222   16470.345578
5                           0                   25.562     2035.68769

         Unnamed: 10
0                NaN
1  Unique Patients**
2                462
3               7054
4               1345
5                159
=====================================
KS
tbl_KS

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ALLEN          1074.096362
3                              ANDERSON           575.857324
4                              ATCHISON          1109.308014
5                                BARBER           333.351216

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        5981.053099                2903.252             0
3        3959.741919                2059.442             0
4       10672.103073                4606.014             0
5        1963.878321                 882.829             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            178.985               0
3                                             87.713               0
4                                            402.246               0
5                                             35.992               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                    7.288   2891.528099
3                           0                   37.046   1775.540919
4                           0                  301.178   5362.665073
5                           0                   10.982   1034.075321

         Unnamed: 10
0                NaN
1  Unique Patients**
2                271
3                156
4                359
5                102
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

KY
tbl_KY
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAIR           922.502106
3                                 ALLEN          1143.336761
4                              ANDERSON          1562.657034
5                               BALLARD           537.326057

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       11171.450996                5539.815             0
3       13246.151374                 7881.61             0
4       16544.506992                7011.465             0
5        4721.968596                 2060.51             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            226.668               0
3                                            409.998               0
4                                            502.986               0
5                                            154.116               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   54.804   5350.163996
3                           0                   35.157   4919.386374
4                           0                   65.923   8964.132992
5                           0                   30.187   2477.155596

         Unnamed: 10
0                NaN
1  Unique Patients**
2                409
3                416
4                589
5                217
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

LA
tbl_LA
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                ACADIA          3162.710284
3                                 ALLEN          1220.840316
4                             ASCENSION          6529.000636
5                            ASSUMPTION          1118.302566

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       27710.562758               15319.355             0
3       15674.083238                8463.562             0
4       58705.701485               33402.854             0
5        8251.919349                5067.886             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            780.594               0
3                                            295.689               0
4                                           3435.135               0
5                                             86.537               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   42.931  11567.682758
3                           0                   24.337   6890.495238
4                           0                  118.066  21749.646485
5                           0                    1.395   3096.101349

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1060
3                514
4               1567
5                289
=====================================
MA
tbl_MA

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                            BARNSTABLE         17650.587542
3                             BERKSHIRE          7460.304913
4                               BRISTOL         30162.307002
5                                 DUKES           914.247452

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2      131751.510039               71090.111    2792.26848
3       61916.954571               26678.395             0
4      290519.153988              135398.768             0
5        4271.070996                2493.734             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           7167.998               0
3                                           2325.244               0
4                                          16840.995               0
5                                             91.477               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                  3742.65667                 2266.147   44692.328889
3                           0                  550.778   32362.537571
4                           0                 2059.882  136219.508988
5                           0                   155.03    1530.829996

         Unnamed: 10
0                NaN
1  Unique Patients**
2               4705
3               2142
4               8169
5                196
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

MD
tbl_MD
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ALLEGANY          5020.872487
3                          ANNE ARUNDEL         50688.647935
4                             BALTIMORE           46727.6317
5                               CALVERT          8020.638525

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       41006.871201               20495.019             0
3      447590.263112              274890.269             0
4      383196.393748              167210.834             0
5       68470.933419               46161.964             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            985.777               0
3                                          54940.714               0
4                                          21309.392               0
5                                          10307.421               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                           0                  231.496   19294.579201
3                           0                  3774.99  113984.290112
4                           0                 3785.297  190890.870748
5                           0                  509.459   11492.089419

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1710
3               9295
4              10604
5               1179
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

ME
tbl_ME
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                          ANDROSCOGGIN          9141.087313
3                             AROOSTOOK          5936.095721
4                            CUMBERLAND           19704.5585
5                              FRANKLIN          2833.983371

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        94799.36043               49357.112             0
3       76873.008296               47119.456             0
4      163381.367556               92180.051             0
5       30412.945496               14818.113             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           3090.238               0
3                                           1407.477               0
4                                          10346.456               0
5                                            697.312               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   272.78   42079.23043
3                           0                  148.506  28197.569296
4                           0                 1907.399  58947.461556
5                           0                   130.74  14766.780496

         Unnamed: 10
0                NaN
1  Unique Patients**
2               3395
3               3085
4               5485
5               1096
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

MI
tbl_MI
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                ALCONA          1347.616384
3                                 ALGER           812.528098
4                               ALLEGAN          6289.581673
5                                ALPENA          2423.265571

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       12481.956484                6082.915             0
3        9096.864248                5412.429             0
4       47150.405922               25852.844             0
5       23655.151196               10894.328             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            169.814               0
3                                            226.643               0
4                                           1802.933               0
5                                            701.873               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   67.675   6161.552484
3                           0                   31.643   3426.149248
4                           0                   337.57  19157.058922
5                           0                   114.87  11944.080196

         Unnamed: 10
0                NaN
1  Unique Patients**
2                544
3                339
4               1719
5                999
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

MN
tbl_MN
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                AITKIN          1566.493172
3                                 ANOKA         19911.448109
4                                BECKER          2754.938426
5                              BELTRAMI          2967.178672

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       20842.561594                8913.103             0
3      189581.536335               82743.288             0
4       33184.882378               13971.113             0
5       36186.092214               19714.592             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            212.743               0
3                                            7716.22               0
4                                            641.651               0
5                                            853.857               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  413.892  11302.823594
3                           0                 1236.279  97885.749335
4                           0                   83.123  18488.995378
5                           0                  255.249  15362.394214

         Unnamed: 10
0                NaN
1  Unique Patients**
2                870
3               7171
4               1287
5               1351
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

MO
tbl_MO
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAIR          1469.234024
3                                ANDREW          1049.266397
4                              ATCHISON           410.615737
5                               AUDRAIN          1743.037046

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       13638.878092                6123.325             0
3        8240.337836                3878.697             0
4        3758.956802                1754.144             0
5       21861.311355                8187.705             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            628.332               0
3                                            223.416               0
4                                             40.697               0
5                                            245.448               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   83.918   6803.303092
3                           0                   21.408   4116.816836
4                           0                    3.005   1961.110802
5                           0                   40.246  13387.912355

         Unnamed: 10
0                NaN
1  Unique Patients**
2                590
3                407
4                120
5                889
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

MS
tbl_MS
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          1759.332344
3                                ALCORN          1805.550865
4                                 AMITE            683.34369
5                                ATTALA          1015.896231

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       26734.017484               12096.046     266.87907
3       17734.115911               11019.632     115.11158
4        7762.808415                3611.353             0
5        13908.64307                6770.524             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            295.117               0
3                                            299.632               0
4                                            179.582               0
5                                            171.338               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                   827.78685                   48.861  13199.327564
3                   502.65406                   64.347   5732.739271
4                           0                   14.716   3957.157415
5                           0                   64.469    6902.31207

         Unnamed: 10
0                NaN
1  Unique Patients**
2                944
3                548
4                332
5                490
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

MT
tbl_MT
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                            BEAVERHEAD           728.128768
3                              BIG HORN            696.56207
4                                BLAINE           410.900758
5                            BROADWATER           619.688128

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        6988.601844                3415.484             0
3         6428.86776                2622.405             0
4        4724.399546                 2489.88             0
5         10864.7937                3548.918             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            265.141               0
3                                             87.031               0
4                                              82.14               0
5                                             72.145               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   53.691   3254.285844
3                           0                   47.238    3672.19376
4                           0                   20.419   2131.960546
5                           0                   37.881     7205.8497

         Unnamed: 10
0                NaN
1  Unique Patients**
2                295
3                224
4                149
5                385
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

NC
tbl_NC
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ALAMANCE         10139.619924
3                             ALEXANDER          2282.601975
4                             ALLEGHANY           871.444815
5                                 ANSON          1472.039928

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2      118098.344075               54256.003             0
3       25914.582325               12744.707             0
4         8528.08207                5250.126             0
5        16083.54049                9177.032             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           4154.261               0
3                                            650.743               0
4                                            133.678               0
5                                            266.916               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  656.087  59031.993075
3                           0                  277.286  12241.846325
4                           0                   51.367    3092.91107
5                           0                   83.878    6555.71449

         Unnamed: 10
0                NaN
1  Unique Patients**
2               3078
3                933
4                297
5                502
=====================================
ND
tbl_ND

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS           177.561674
3                                BARNES           773.758291
4                                BENSON           330.622331
5                              BILLINGS            67.272857

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        1335.515377                 558.308             0
3        8917.872892                4413.309             0
4         3420.01604                1377.184             0
5         361.176709                  137.76             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                                  0               0
3                                            172.154               0
4                                             40.556               0
5                                                  0               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                        0    777.207377
3                           0                   71.452   4260.957892
4                           0                    0.205    2002.07104
5                           0                    0.062    223.354709

         Unnamed: 10
0                NaN
1  Unique Patients**
2                 75
3                367
4                124
5                 27
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

NE
tbl_NE
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          1859.050925
3                              ANTELOPE           454.302028
4                                ARTHUR            29.906421
5                                BANNER            48.218098

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       27832.172851               15055.317             0
3        3791.302725                1958.031             0
4          63.929635                  33.099             0
5         281.827023                  78.719             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            604.439               0
3                                             10.708               0
4                                             11.059               0
5                                                  0               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   154.36  12018.056851
3                           0                    7.154   1815.409725
4                           0                        0     19.771635
5                           0                        0    203.108023

         Unnamed: 10
0                NaN
1  Unique Patients**
2                884
3                201
4                  *
5                 19
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

NH
tbl_NH
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               BELKNAP          5784.740082
3                               CARROLL          4580.674049
4                              CHESHIRE          6027.802397
5                                  COOS          3069.555978

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       54423.212694               25972.891             0
3       40998.185255               19401.922             0
4        53807.71785               24713.678             0
5       31517.116759               15463.804             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           2447.149               0
3                                           1034.122               0
4                                           2548.162               0
5                                            838.276               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  319.039  25684.133694
3                           0                  264.542  20297.599255
4                           0                  447.675   26098.20285
5                           0                   59.261  15155.775759

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1875
3               1403
4               1872
5               1256
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

NJ
tbl_NJ
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ATLANTIC         14978.182794
3                                BERGEN         25877.918626
4                            BURLINGTON         30154.344056
5                                CAMDEN         24120.579876

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2      101976.081713               58806.849             0
3      160735.009536                81733.48             0
4      263993.014689              171915.288     1145.5035
5      197524.678453              111495.705             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           6105.486               0
3                                          17765.281               0
4                                          24148.781               0
5                                          12354.886               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                 1265.196  35798.550713
3                           0                 5552.431  55683.817536
4                  4143.20555                 2123.853  60516.383639
5                           0                 1951.681  71722.406453

         Unnamed: 10
0                NaN
1  Unique Patients**
2               3467
3               5602
4               6488
5               5673
=====================================
NM
tbl_NM

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                            BERNALILLO         49832.568393
3                                CATRON           383.722675
4                                CHAVES          3547.226822
5                                CIBOLA          1754.046355

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2      716860.723851              330170.866    4899.79806
3        4997.125015                2977.914             0
4       39254.642223               20504.616             0
5       24005.953061               10929.881             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          24916.381               0
3                                             31.422               0
4                                           1149.819               0
5                                            480.788               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                 14892.29512                 3410.528  338570.855671
3                           0                    0.244    1987.545015
4                           0                  236.317   17363.890223
5                           0                  144.689   12450.595061

         Unnamed: 10
0                NaN
1  Unique Patients**
2              18080
3                198
4               1219
5                660
=====================================
NV
tbl_NV

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                             CHURCHILL          3226.611955
3                                 CLARK        155893.428604
4                               DOUGLAS          4797.848295
5                                  ELKO          3214.810574

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        44387.45137               21506.686             0
3     1865351.288113              985782.563    4683.70179
4       47756.103796               20347.364             0
5       28388.779613               11713.048             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           2100.355               0
3                                          97696.572               0
4                                           1412.046               0
5                                            840.748               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                           0                  192.721    20587.68937
3                  2062.57565                 6981.136  768144.739673
4                           0                  417.444   25579.249796
5                           0                    99.56   15735.423613

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1401
3              51732
4               1864
5                963
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

NY
tbl_NY
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                ALBANY           15819.7937
3                              ALLEGANY          3515.264967
4                                 BRONX          31197.16119
5                                BROOME         11177.629351

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2      150052.262005               48178.708    6179.46286
3       41343.897165               19331.925             0
4      429727.735733              117612.158             0
5        70199.42604               38933.393             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           6618.006               0
3                                            852.297               0
4                                           30219.04               0
5                                           2642.326               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                   3396.7255                 1107.541   84571.818645
3                           0                  107.294   21052.381165
4                  1868.60816                  1376.59  278651.339573
5                           0                  693.303    27930.40404

         Unnamed: 10
0                NaN
1  Unique Patients**
2               4157
3               1368
4               9462
5               3089
=====================================
OH
tbl_OH

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          1752.730276
3                                 ALLEN          6823.925212
4                               ASHLAND           3490.25643
5                             ASHTABULA          6466.863905

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       22920.044307               10529.296             0
3       50416.196972               26832.597             0
4       32253.409671               15105.129             0
5       70662.610569               35038.925             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                             283.99               0
3                                           2273.801               0
4                                           1502.192               0
5                                           2087.861               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   48.031  12058.727307
3                           0                  305.409  21004.389972
4                           0                   324.02  15322.068671
5                           0                  314.844  33220.980569

         Unnamed: 10
0                NaN
1  Unique Patients**
2                688
3               1894
4               1351
5               2964
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

OK
tbl_OK
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAIR          1330.431937
3                               ALFALFA           385.028792
4                                 ATOKA           952.642694
5                                BEAVER           254.256949

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       18317.330895               10676.266             0
3        2127.551304                1151.473             0
4       12708.090752                 7932.04             0
5        1867.753277                 852.425             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            258.808               0
3                                               40.2               0
4                                            172.711               0
5                                             44.682               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   59.502   7322.754895
3                           0                   74.858    861.020304
4                           0                   18.604   4584.735752
5                           0                    2.534    968.112277

         Unnamed: 10
0                NaN
1  Unique Patients**
2                558
3                 84
4                380
5                 96
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

OR
tbl_OR
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 BAKER          1839.178271
3                                BENTON          5524.250553
4                             CLACKAMAS         28445.574794
5                               CLATSOP          3817.619736

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       24450.935759               12709.951             0
3       42084.183471               20387.909             0
4      246864.972222              114200.052             0
5       41759.645575               20722.813             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            405.203               0
3                                           6212.055               0
4                                          14913.346               0
5                                           1484.727               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                           0                   81.117   11254.664759
3                           0                  239.232   15244.987471
4                           0                 2117.629  115633.945222
5                           0                  138.188   19413.917575

         Unnamed: 10
0                NaN
1  Unique Patients**
2                859
3               1251
4               7582
5               1234
=====================================
PA
tbl_PA

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          7646.095097
3                             ALLEGHENY         75686.022971
4                             ARMSTRONG          5452.519209
5                                BEAVER         12682.744161

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       45004.203789               25398.114             0
3      675970.163437              226814.487    4429.57959
4       49543.200711                18747.76             0
5       91694.331756               43315.074             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           2815.732               0
3                                          34063.372               0
4                                           1169.879               0
5                                           4109.417               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                           0                  625.536   16164.821789
3                 24579.95765                 6823.793  379258.974197
4                           0                  540.519   29085.042711
5                           0                   675.29   43594.550756

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1644
3              20720
4               2079
5               4976
=====================================
RI
tbl_RI

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               BRISTOL          2910.047482
3                                  KENT         11998.188805
4                               NEWPORT           9162.66791
5                            PROVIDENCE         29665.263405

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       29983.280133               13502.595             0
3      118374.742666               56230.687             0
4       54639.253118               31330.969             0
5      396846.053205              129194.684   18922.99742

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           1702.101               0
3                                           6521.557               0
4                                           5506.596               0
5                                          16461.434               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                           0                  545.108   14233.476133
3                           0                  725.911   54896.587666
4                           0                  545.464   17256.224118
5                  35185.5505                 2242.977  194838.410285

         Unnamed: 10
0                NaN
1  Unique Patients**
2                996
3               3892
4               1677
5              10122
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

SC
tbl_SC
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                             ABBEVILLE           1607.15172
3                                 AIKEN         12516.665427
4                             ALLENDALE           439.260646
5                              ANDERSON         13197.041442

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       20596.553666               12220.558             0
3      170303.103361               77154.072             0
4        7029.696659                 3834.01             0
5      126968.604052               76014.137             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            580.183               0
3                                           6221.838               0
4                                             304.26               0
5                                           4013.203               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  106.759   7689.053666
3                           0                  673.239  86253.954361
4                           0                   31.428   2859.998659
5                           0                  838.998  46102.266052

         Unnamed: 10
0                NaN
1  Unique Patients**
2                676
3               5299
4                203
5               4667
=====================================
SD
tbl_SD

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                AURORA           198.987334
3                                BEADLE          1063.489773
4                               BENNETT           166.381232
5                             BON HOMME           450.046775

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        2693.743059                1171.326             0
3        8028.580972                3472.909             0
4        2562.351231                1005.199             0
5        4011.919569                1738.601             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                             21.704               0
3                                            280.072               0
4                                             46.587               0
5                                             78.522               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                      0.8   1499.913059
3                           0                   30.079   4245.520972
4                           0                     4.45   1506.115231
5                           0                    8.207   2186.589569

         Unnamed: 10
0                NaN
1  Unique Patients**
2                 95
3                379
4                 87
5                233
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

TN
tbl_TN
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ANDERSON          6933.371608
3                               BEDFORD          2880.139149
4                                BENTON          1468.887158
5                               BLEDSOE           745.778032

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       49714.620861               30363.732             0
3       34210.320839               16214.766             0
4       15657.653944                9101.352             0
5        7468.149572                3945.747             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           2063.406               0
3                                           1221.232               0
4                                            269.737               0
5                                            107.053               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                    391.8  16895.682861
3                           0                   88.349  16685.973839
4                           0                   72.149   6214.415944
5                           0                   11.732   3403.617572

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1870
3               1055
4                478
5                312
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

TX
tbl_TX
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ANDERSON          3256.749495
3                               ANDREWS            672.54193
4                              ANGELINA          5598.830013
5                               ARANSAS          2563.206582

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       39510.450819               24580.049             0
3        4899.489353                2403.985             0
4       63795.878424               37846.472             0
5       20746.211341               11737.651             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            907.155               0
3                                            296.725               0
4                                           2061.975               0
5                                            434.306               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   93.477  13929.769819
3                           0                    0.195   2198.584353
4                           0                  278.059  23609.372424
5                           0                  255.977   8318.277341

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1249
3                143
4               2155
5                697
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

UT
tbl_UT
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                BEAVER           340.421059
3                             BOX ELDER          2406.002336
4                                 CACHE          4487.728775
5                                CARBON          1277.871813

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2          2673.0565                1444.013             0
3        22015.05347               10811.535             0
4       33168.984138                17814.85             0
5       12668.504249                6064.756             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                             20.378               0
3                                           1176.864               0
4                                           4636.144               0
5                                            135.857               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   41.131     1167.5345
3                           0                   97.417    9929.23747
4                           0                   159.08  10558.910138
5                           0                   28.466   6439.425249

         Unnamed: 10
0                NaN
1  Unique Patients**
2                 88
3                706
4                918
5                390
=====================================
VA
tbl_VA

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ACCOMACK           2795.99869
3                             ALBEMARLE          6560.732676
4                             ALLEGHANY          1075.443549
5                                AMELIA           954.188529

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       19663.743375               12035.849             0
3       36916.416224               19563.559             0
4       10146.328837                2700.691             0
5       11661.759922                 4996.72             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            920.974               0
3                                           3859.194               0
4                                            103.745               0
5                                            401.302               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  141.788   6565.132375
3                           0                  593.433  12900.230224
4                           0                   25.358   7316.534837
5                           0                    4.699   6259.038922

         Unnamed: 10
0                NaN
1  Unique Patients**
2                703
3               1239
4                489
5                366
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

VT
tbl_VT
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               ADDISON          2247.757785
3                            BENNINGTON          2715.263598
4                             CALEDONIA          2288.827292
5                            CHITTENDEN          9390.977704

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       13145.366442                6880.288             0
3       25371.464223               10396.781             0
4       23074.523668                9692.268             0
5       56090.843541               27411.596             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            828.332             NaN
3                                            685.663             NaN
4                                            716.427             NaN
5                                           6672.445             NaN

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  186.325   5250.421442
3                           0                  149.806  14139.214223
4                           0                  113.105  12552.723668
5                           0                  883.697  21123.105541

         Unnamed: 10
0                NaN
1  Unique Patients**
2                639
3               1037
4                830
5               2189
=====================================
WA
tbl_WA

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS           610.367664
3                                ASOTIN          2063.524642
4                                BENTON         13246.216325
5                                CHELAN          5286.424688

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        3778.510547                2222.461             0
3       19714.077257                9459.191             0
4      110271.797509               57973.381             0
5          41249.158               21240.583             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            166.678               0
3                                            425.029               0
4                                            5866.89               0
5                                           1243.855               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   31.477   1357.894547
3                           0                  256.258   9573.599257
4                           0                  951.908  45479.618509
5                           0                  169.391     18595.329

         Unnamed: 10
0                NaN
1  Unique Patients**
2                148
3                746
4               3667
5               1434
=====================================
WI
tbl_WI

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          2053.995416
3                               ASHLAND          1294.804587
4                                BARRON          3479.213769
5                              BAYFIELD          1388.843279

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       26321.448069                7471.209             0
3       11109.046136                6281.703             0
4       30853.064539               15326.083             0
5       13554.903906                6246.917             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                             90.714               0
3                                            190.696               0
4                                            630.136               0
5                                            147.975               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   33.799  18725.726069
3                           0                   80.536   4556.111136
4                           0                   62.163  14834.682539
5                           0                   15.267   7144.744906

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1063
3                419
4               1327
5                574
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

WV
tbl_WV
  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               BARBOUR          1226.803831
3                              BERKELEY         11401.572276
4                                 BOONE          1402.337178
5                               BRAXTON          1082.692629

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       16522.263423                6977.481             0
3      771389.394474               67104.651   11887.33927
4        17298.27269               10364.552             0
5       17957.678539                7782.226             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            238.077               0
3                                           4821.933               0
4                                            345.012               0
5                                            235.326               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                           0                  156.967    9149.738423
3                565657.51166                  549.895  121368.064544
4                           0                   95.109     6493.59969
5                           0                   23.494    9916.632539

         Unnamed: 10
0                NaN
1  Unique Patients**
2                568
3               4643
4                529
5                558
=====================================
WY
tbl_WY

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                ALBANY          2305.784978
3                              BIG HORN           910.650939
4                              CAMPBELL          2807.159424
5                                CARBON          1083.697736

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       23179.650242               10007.292             0
3        9324.935969                3316.186             0
4       28546.902921               12147.621             0
5        9835.255752                4040.501             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           3093.419               0
3                                            154.227               0
4                                            931.479               0
5                                            169.835               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  179.504   9899.435242
3                           0                   37.706   5816.816969
4                           0                  125.354  15342.448921
5                           0                   88.518   5536.401752

         Unnamed: 10
0                NaN
1  Unique Patients**
2                731
3                388
4               1149
5                383
=====================================
PR
tbl_PR

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ADJUNTAS                  NaN
3                                AGUADA                  NaN
4                             AGUADILLA                  NaN
5                          AGUAS BUENAS                  NaN

          Unnamed: 2               Unnamed: 3    Unnamed: 4  \
0                NaN                      NaN           NaN
1  Total Expenditure  Compensation & Pensions  Construction
2        7192.242292                 4251.331             0
3       16507.662306                10829.404             0
4       44013.120524                27376.212             0
5       11188.685279                 4684.468             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            220.106               0
3                                            878.746               0
4                                           2058.224               0
5                                            213.756               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                    5.298   2715.507292
3                           0                   10.001   4789.511306
4                           0                   50.907  14527.777524
5                           0                        0   6290.461279

         Unnamed: 10
0                NaN
1  Unique Patients**
2                239
3                454
4               1232
5                296
=====================================
GU
tbl_GU

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY20 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                  Guam         11725.657612
3                                   NaN                  NaN
4                                   NaN                  NaN
5                         Guam (Totals)         11725.657612

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       136690.32337               76687.006             0
3                NaN                     NaN           NaN
4                NaN                     NaN           NaN
5       136690.32337               76687.006             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          13281.133               0
3                                                NaN             NaN
4                                                NaN             NaN
5                                          13281.133               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  292.118   46430.06637
3                         NaN                      NaN           NaN
4                         NaN                      NaN           NaN
5                           0                  292.118   46430.06637

         Unnamed: 10 Unnamed: 11
0                NaN         NaN
1  Unique Patients**         NaN
2               3189         NaN
3                NaN         NaN
4                NaN         NaN
5               3189         NaN
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [6]:
df.head(10)

,FY20 Summary of Expenditures by State,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Expenditures in $000s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,County/ Congressional District,Veteran Population*,Total Expenditure,Compensation & Pension,Construction,Education & Vocational Rehabilitation/ Employment,Loan Guaranty#,General Operating Expenses,Insurance & Indemnities,Medical Care,Unique Patients**,NaN
2,Guam,11725.657612,136690.32337,76687.006,0,13281.133,0,0,292.118,46430.06637,3189,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Guam (Totals),11725.657612,136690.32337,76687.006,0,13281.133,0,0,292.118,46430.06637,3189,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Notes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
9,"* Veteran population estimates, as of Septembe...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.to_csv('Annual_Expenditures/GDX_FY20.csv')