In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Table, Column, Integer, String

In [3]:
import sqlite3
import os
from sqlalchemy import MetaData
from sqlalchemy.orm import mapper

In [4]:
#set the file name to read the excel sheets
xls_file_name='Annual_Expenditures/GDX_FY16.xlsx'
sql_file_name='Annual_Expenditures/GDX_FY16.db'

#path of the excel file to get all the sheets from the excel file into xls sheet name list
xls = pd.ExcelFile(xls_file_name)
print(xls_file_name)
print(xls.sheet_names)

Annual_Expenditures/GDX_FY16.xlsx
['Data Guide', 'State Level Expenditures', 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY', 'PR', 'GU']

In [6]:
#For loop to get the sheet name for excel file
for sheet_name in xls.sheet_names:
    
    #print the sheet name
    print(sheet_name)
    
    #set the table name 
    sqlite_table = "tbl_"+sheet_name
    
    #print name of the table
    print(sqlite_table)
    
    #read the excel sheet in the pandas dataframe
    #with the argument sheet_name.
    df = pd.read_excel(xls_file_name, sheet_name=sheet_name, index_col=None)
    
    if (sheet_name == 'State Level Expenditures'):
        print('SLE_DERYA',sheet_name)
        df.drop([0,2,4], axis=0, inplace=True)
        #df.drop([2], axis=0, inplace=True)
        #df.drop([3], axis=0, inplace=True)
        df.drop("Unnamed: 3", axis=1, inplace=True)
        df.drop("Unnamed: 4", axis=1, inplace=True)
        df.drop("Unnamed: 5", axis=1, inplace=True)
        df.drop("Unnamed: 6", axis=1, inplace=True)
        df.drop("Unnamed: 7", axis=1, inplace=True)
        df.drop("Unnamed: 8", axis=1, inplace=True)
#     else:
#         print('A STATE NAME:',sheet_name)
#         df.drop([0], axis=0, inplace=True)
#         #df.drop([2], axis=0, inplace=True)
#         #df.drop([3], axis=0, inplace=True)
#         df.drop("Unnamed: 3", axis=1, inplace=True)
#         df.drop("Unnamed: 4", axis=1, inplace=True)
#         df.drop("Unnamed: 5", axis=1, inplace=True)
#         df.drop("Unnamed: 6", axis=1, inplace=True)
#         df.drop("Unnamed: 7", axis=1, inplace=True)
#         df.drop("Unnamed: 8", axis=1, inplace=True)

    # print top 10 rows from dataframe
    print(df.head(6))

    print("=====================================")
    
    #create SQLite database connection
    conn = sqlite3.connect(sql_file_name)
    
    #store data into SQLite database table
    df.to_sql(sqlite_table, conn, if_exists='append', index=False)
    
    #close SQLite database connection
    conn.close()

Data Guide
tbl_Data Guide
                                          Unnamed: 0
0  GEOGRAPHIC DISTRIBUTION OF VA EXPENDITURES (GD...
1                                                NaN
2                                                NaN
3  NOTE: Veteran Population has been updated with...
4                                                NaN
5  Prepared by the National Center for Veterans A...
=====================================
State Level Expenditures
tbl_State Level Expenditures

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

SLE_DERYA State Level Expenditures
               FY16 Summary of Expenditures by State           Unnamed: 1  \
1                                              State  Veteran Population*
3                                             Totals      20293064.902063
5                                             Alaska          68436.26373
6  Arizona                                       ...        515050.150352
7  Arkansas                                      ...        225117.591332
8                                         California       1735212.597042

          Unnamed: 2       Unnamed: 9         Unnamed: 10
1  Total Expenditure     Medical Care  Unique Patients **
3   173685850.089252  63473219.558202             6015944
5        639118.7512     252524.84747               20037
6      3919748.58915      1568041.001              151910
7     2215940.441723    941113.093903               86483
8     15568594.92224     5933780.6806              466638
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

AK
tbl_AK
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                        ALEUTIANS EAST            67.402421
3                        ALEUTIANS WEST           152.061424
4                             ANCHORAGE         30062.997445
5                                BETHEL           722.201565

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2            143.885                 101.626             0
3           374.6926                 156.887             0
4       317801.46477             129090.8765      55.39614
5          1851.9487                801.6485             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                              1.954               0
3                                              7.965               0
4                                          38248.492               0
5                                            210.103               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                        0        40.305
3                           0                    1.182      208.6586
4                 26627.27413                 1351.326      122428.1
5                           0                   16.731      823.4662

         Unnamed: 10
0                NaN
1  Unique Patients**
2                 10
3                 26
4               9158
5                 87
=====================================
AL
tbl_AL

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               AUTAUGA          5949.268031
3                               BALDWIN          20084.61312
4                               BARBOUR           1792.45469
5                                  BIBB          1233.150383

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2          54561.718               35791.308             0
3         111124.288               72176.717             0
4          17727.623               11990.738             0
5          12350.798                8118.184             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            5108.67               0
3                                           8331.218               0
4                                            556.494               0
5                                             354.59               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   179.21      13482.53
3                           0                 1585.483      29030.87
4                           0                   62.624      5117.767
5                           0                   50.782      3827.242

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1517
3               4731
4                635
5                466
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

AR
tbl_AR
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ARKANSAS          1290.405538
3                                ASHLEY          1523.687259
4                                BAXTER          5128.841911
5                                BENTON         16857.020117

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        11436.10705               5385.6995             0
3       13523.888064               7061.4195             0
4        37485.64545              22538.7365             0
5      120619.200232              61940.9655             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            334.537               0
3                                            394.103               0
4                                            916.115               0
5                                           5198.588               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  112.023    5603.84755
3                           0                   90.553   5977.812564
4                           0                  372.732   13658.06195
5                           0                 1248.637  52231.009732

         Unnamed: 10
0                NaN
1  Unique Patients**
2                432
3                482
4               2011
5               6342
=====================================
AZ
tbl_AZ

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                APACHE           2829.17935
3                               COCHISE         19799.480014
4                              COCONINO          8527.807816
5                                  GILA          5914.638394

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2         29984.8255              17235.5965             0
3         180489.466               108451.88             0
4         49195.2305              23901.9605             0
5         40034.4995              20521.4375             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           1621.078               0
3                                          12641.639               0
4                                           6823.456               0
5                                            608.524               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  163.961      10964.19
3                           0                  951.897      58444.05
4                           0                  527.964      17941.85
5                           0                  426.298      18478.24

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1280
3               6981
4               2208
5               1868
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

CA
tbl_CA
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               ALAMEDA         53919.912865
3                                ALPINE            97.551625
4                                AMADOR          3918.773669
5                                 BUTTE         16374.647238

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       495133.41131             179977.8675     306.63056
3           330.3496                 173.369             0
4         25460.6085              12571.0025             0
5        117994.6135              69181.4775             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          54040.303               0
3                                             13.786               0
4                                           1306.313               0
5                                           6573.209               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                 39514.62225                 5507.088      215786.9
3                           0                   15.082      128.1126
4                           0                  300.183      11283.11
5                           0                 1368.467      40871.46

         Unnamed: 10
0                NaN
1  Unique Patients**
2              12970
3                 19
4                999
5               5106
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

CO
tbl_CO
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          29054.81735
3                               ALAMOSA           990.022358
4                              ARAPAHOE         44661.270622
5                             ARCHULETA          1167.448917

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2         188220.311               85052.197             0
3          9387.5145               5204.5555             0
4        313097.5235             165153.3075             0
5          9117.9475               5092.2945             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          22473.852               0
3                                             437.28               0
4                                          39934.841               0
5                                            189.203               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                 1674.422      79019.84
3                           0                   53.228      3692.451
4                           0                 2997.275      105012.1
5                           0                   95.242      3741.208

         Unnamed: 10
0                NaN
1  Unique Patients**
2               6654
3                410
4               9556
5                459
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

CT
tbl_CT
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                             FAIRFIELD         33866.171665
3                              HARTFORD         46876.379717
4                            LITCHFIELD          11951.07196
5                             MIDDLESEX         11018.747319

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2         179024.429               68339.226             0
3       294149.95339             119398.8505             0
4          66535.072               28502.097             0
5          59717.093               25014.094             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          18129.052               0
3                                          25882.122               0
4                                           5428.624               0
5                                           6323.693               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                 6448.121      86108.03
3                 13062.27089                  5908.81      129897.9
4                           0                 1544.531      31059.82
5                           0                 1220.276      27159.03

         Unnamed: 10
0                NaN
1  Unique Patients**
2               8238
3              12743
4               3349
5               2707
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

DC
tbl_DC
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                  DISTRICT OF COLUMBIA           28412.8212
3                                   NaN                  NaN
4                           DC (Totals)           28412.8212
5                                   NaN                  NaN

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2      2663846.69332               96501.814  205323.38915
3                NaN                     NaN           NaN
4      2663846.69332               96501.814  205323.38915
5                NaN                     NaN           NaN

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          33913.299               0
3                                                NaN             NaN
4                                          33913.299               0
5                                                NaN             NaN

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2               2094787.22617                 2063.865      231257.1
3                         NaN                      NaN           NaN
4               2094787.22617                 2063.865      231257.1
5                         NaN                      NaN           NaN

         Unnamed: 10
0                NaN
1  Unique Patients**
2               8595
3                NaN
4               8595
5                NaN
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

DE
tbl_DE
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                  KENT         19370.135503
3                            NEW CASTLE          32447.76129
4                                SUSSEX         21013.170946
5                                   NaN                  NaN

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        126414.0045              79145.0395             0
3       225761.18804              96453.5495    3182.74843
4          89303.025               56035.124             0
5                NaN                     NaN           NaN

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          16937.106               0
3                                          15638.583               0
4                                           4454.411               0
5                                                NaN             NaN

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                 1205.169      29126.69
3                  3083.12811                 2889.079      104514.1
4                           0                  1392.61      27420.88
5                         NaN                      NaN           NaN

         Unnamed: 10
0                NaN
1  Unique Patients**
2               4124
3               7866
4               4096
5                NaN
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

FL
tbl_FL
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               ALACHUA         16512.818501
3                                 BAKER          2093.694772
4                                   BAY          24570.76395
5                              BRADFORD          2337.251621

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       240914.40298               72056.129    7606.30095
3          14275.391                6879.246             0
4         166244.124              120262.335             0
5          25802.095                8051.018             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          12752.631               0
3                                            871.243               0
4                                           14612.83               0
5                                            741.662               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                  4087.99803                 2012.244      142399.1
3                           0                   59.376      6465.526
4                           0                  749.879      30619.08
5                           0                  106.035      16903.38

         Unnamed: 10
0                NaN
1  Unique Patients**
2               7691
3                654
4               5675
5               1069
=====================================
GA
tbl_GA

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               APPLING          1071.453664
3                              ATKINSON           412.540529
4                                 BACON           601.086817
5                                 BAKER           174.150632

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2          8102.7915               4271.9215             0
3          3757.1525               1938.8495             0
4          4487.1015               2652.1095             0
5           1543.667               1089.3335             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            249.847               0
3                                            155.167               0
4                                             67.822               0
5                                             55.135               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   21.767      3559.256
3                           0                     0.39      1662.746
4                           0                   25.262      1741.908
5                           0                        0      399.1985

         Unnamed: 10
0                NaN
1  Unique Patients**
2                393
3                194
4                200
5                 54
=====================================
HI
tbl_HI

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                HAWAII         15647.081852
3                              HONOLULU         83745.921908
4                               KALAWAO             4.107109
5                                 KAUAI          4489.393671

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        118858.7445              62850.1605             0
3       758508.53593             321525.2295   11580.03112
4           1.844632                       0             0
5          36625.649               16721.934             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           4822.278               0
3                                         197291.856               0
4                                                  0               0
5                                           1249.065               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  887.616      50298.69
3                 16168.15031                10146.369      201796.9
4                           0                        0      1.844632
5                           0                   338.31      18316.34

         Unnamed: 10
0                NaN
1  Unique Patients**
2               4493
3              19145
4                  *
5                  *
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

IA
tbl_IA
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAIR           582.997133
3                                 ADAMS           325.447753
4                             ALLAMAKEE          1052.071928
5                             APPANOOSE          1020.051498

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2           4214.612                 1485.71             0
3          2426.8165                885.7805             0
4          7690.7345               3496.7015             0
5           7546.058                3549.733             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                             69.418               0
3                                             49.822               0
4                                            108.969               0
5                                            174.813               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   62.093      2597.391
3                           0                   31.481      1459.733
4                           0                   54.323      4030.741
5                           0                   17.667      3803.845

         Unnamed: 10
0                NaN
1  Unique Patients**
2                193
3                110
4                430
5                424
=====================================
ID
tbl_ID

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                   ADA         33754.986465
3                                 ADAMS           414.723427
4                               BANNOCK          5649.954715
5                             BEAR LAKE           430.476389

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       277407.35899             122591.5255    2730.88369
3           3929.154                1709.512             0
4           41393.21               21874.994             0
5           2030.247                1137.404             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          19777.039               0
3                                             12.004               0
4                                            3036.16               0
5                                             41.838               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                  10165.4038                 2499.107      119643.4
3                           0                    2.773      2204.865
4                           0                  517.336      15964.72
5                           0                   63.924       787.081

         Unnamed: 10
0                NaN
1  Unique Patients**
2              11941
3                251
4               1989
5                125
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

IL
tbl_IL
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          5031.701322
3                             ALEXANDER           539.779751
4                                  BOND          1293.505827
5                                 BOONE            2896.1178

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        33381.86192              20139.4585       1.60542
3          7076.2675               2944.5605             0
4          7196.1975               4065.5565             0
5          14078.423                7317.136             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           1796.569               0
3                                            152.399               0
4                                            392.502               0
5                                            956.519               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  353.399      11090.83
3                           0                    5.929      3973.379
4                           0                   85.134      2653.005
5                           0                  122.596      5682.172

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1712
3                259
4                269
5                837
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

IN
tbl_IN
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          1587.469424
3                                 ALLEN         21561.224331
4                           BARTHOLOMEW          4593.230718
5                                BENTON           589.881719

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2           8235.874                3837.718             0
3       157244.03725              67940.3665             0
4         28293.6555              14791.2085             0
5           3295.385                1379.734             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            372.468               0
3                                           8889.869               0
4                                           1711.444               0
5                                            135.211               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  140.656      3885.032
3                   960.24175                  1354.32      78099.24
4                           0                  429.533      11361.47
5                           0                    13.27       1767.17

         Unnamed: 10
0                NaN
1  Unique Patients**
2                470
3               7377
4               1259
5                184
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

KS
tbl_KS
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ALLEN           1034.75115
3                              ANDERSON           554.388796
4                              ATCHISON          1081.631257
5                                BARBER           311.492521

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2           5502.574                2701.618             0
3           2884.301                1546.607             0
4          8426.4475               3740.0285             0
5          1937.5321                842.6665             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            192.613               0
3                                            243.232               0
4                                             390.33               0
5                                              72.76               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   51.108      2557.235
3                           0                    3.353      1091.109
4                           0                   94.614      4201.475
5                           0                   28.899      993.2066

         Unnamed: 10
0                NaN
1  Unique Patients**
2                290
3                171
4                325
5                119
=====================================
KY
tbl_KY

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAIR          1080.658226
3                                 ALLEN          1437.993016
4                              ANDERSON          1644.402373
5                               BALLARD           645.205745

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2          8581.5535               4751.3965             0
3          9640.2055               5888.7325             0
4          13155.638                6852.087             0
5          4423.4505               2352.3015             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            503.973               0
3                                            495.644               0
4                                            705.969               0
5                                            137.833               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                     10.2      3315.984
3                           0                     41.3      3214.529
4                           0                   30.387      5567.195
5                           0                   13.386       1919.93

         Unnamed: 10
0                NaN
1  Unique Patients**
2                388
3                391
4                551
5                246
=====================================
LA
tbl_LA

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                ACADIA          3229.173719
3                                 ALLEN          1363.849576
4                             ASCENSION          5838.790129
5                            ASSUMPTION          1076.653047

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2          22342.029               13908.207             0
3          12823.021                7270.639             0
4          38026.935               23481.473             0
5           7230.199                4541.328             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            858.881               0
3                                            374.829               0
4                                           3067.748               0
5                                            188.441               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  131.345      7443.596
3                           0                     29.6      5147.953
4                           0                  343.084      11134.63
5                           0                   10.765      2489.665

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1104
3                529
4               1355
5                317
=====================================
MA
tbl_MA

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                            BARNSTABLE          19397.46233
3                             BERKSHIRE          9103.076859
4                               BRISTOL          30828.61087
5                                 DUKES           945.788297

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        108911.8183               63186.698      30.06408
3         59728.3865              27941.6335             0
4        229259.3595             118650.7015             0
5          3270.0431               2139.1285             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           7481.726               0
3                                           2013.521               0
4                                           14755.46               0
5                                            198.287               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                  3382.64422                 3263.796      31566.89
3                           0                 1562.612      28210.62
4                           0                 2665.138      93188.06
5                           0                   63.744      868.8836

         Unnamed: 10
0                NaN
1  Unique Patients**
2               4745
3               2234
4               8308
5                208
=====================================
MD
tbl_MD

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ALLEGANY          6253.758891
3                          ANNE ARUNDEL         52909.414794
4                             BALTIMORE         49081.065149
5                               CALVERT           9681.67252

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2         37343.2275              19590.7855             0
3        343924.9145             189251.2425             0
4        316692.4065             134762.0945             0
5         45304.2725              26692.5475             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           1438.607               0
3                                          67762.829               0
4                                          27808.886               0
5                                           9935.434               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  206.355      16107.48
3                           0                 3338.953      83571.89
4                           0                 4920.526      149200.9
5                           0                  487.906      8188.385

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1989
3               8757
4              11133
5               1114
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

ME
tbl_ME
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                          ANDROSCOGGIN          9941.378635
3                             AROOSTOOK          6769.873177
4                            CUMBERLAND         20031.840485
5                              FRANKLIN          2731.314607

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2         76856.6195              44750.0645             0
3         66170.7925              42257.4905             0
4        137235.6765              81040.7235             0
5          24343.278               12822.255             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           3092.211               0
3                                            1659.46               0
4                                           9836.889               0
5                                            953.025               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  797.904      28216.44
3                           0                  300.792      21953.05
4                           0                 2207.264       44150.8
5                           0                  225.288      10342.71

         Unnamed: 10
0                NaN
1  Unique Patients**
2               3507
3               3118
4               5906
5               1127
=====================================
MI
tbl_MI

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                ALCONA          1509.439891
3                                 ALGER            956.98767
4                               ALLEGAN          6920.120553
5                                ALPENA          2757.318446

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2           9406.723                5157.703             0
3          7184.3385               4444.1765             0
4         36830.2945              20405.4235             0
5         17156.2015               9410.6175             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            161.211               0
3                                            174.551               0
4                                           1923.384               0
5                                            591.608               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   77.948      4009.861
3                           0                  122.416      2443.195
4                           0                  200.007      14301.48
5                           0                  301.787      6852.189

         Unnamed: 10
0                NaN
1  Unique Patients**
2                524
3                360
4               1682
5                991
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

MN
tbl_MN
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                AITKIN           1873.83974
3                                 ANOKA         22462.143904
4                                BECKER          3057.804567
5                              BELTRAMI          3111.481988

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2          16257.935                8411.087             0
3         154457.726               72220.915             0
4         21975.7235              11232.7645             0
5          29936.494                16757.05             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            259.397               0
3                                           9469.264               0
4                                             424.48               0
5                                           1177.716               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   53.459      7533.992
3                           0                 1948.167      70819.38
4                           0                  115.859      10202.62
5                           0                  242.138      11759.59

         Unnamed: 10
0                NaN
1  Unique Patients**
2                912
3               7301
4               1204
5               1367
=====================================
MO
tbl_MO

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAIR          1524.063017
3                                ANDREW          1183.924799
4                              ATCHISON           465.368111
5                               AUDRAIN          1777.317784

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2         11335.4415               5499.5885             0
3           6448.185                3153.148             0
4           2742.437                1303.204             0
5          16149.345                7400.017             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            507.715               0
3                                            288.026               0
4                                             73.253               0
5                                            420.231               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   37.573      5290.565
3                           0                  106.476      2900.535
4                           0                   28.021      1337.959
5                           0                   92.998      8236.099

         Unnamed: 10
0                NaN
1  Unique Patients**
2                586
3                405
4                134
5                907
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

MS
tbl_MS
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          1851.788187
3                                ALCORN          1924.415846
4                                 AMITE           761.843513
5                                ATTALA          1166.176301

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        20384.17214               9784.5725             0
3          15951.592               10620.059      142.7907
4          7330.0915               3402.6705             0
5         13624.2545               6694.8375             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            576.219               0
3                                            528.609               0
4                                            271.401               0
5                                            190.102               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                   655.08964                  301.833      9066.458
3                    284.1353                   94.611      4281.387
4                           0                   21.506      3634.514
5                           0                   24.305       6715.01

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1058
3                537
4                410
5                515
=====================================
MT
tbl_MT

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                            BEAVERHEAD           770.025936
3                              BIG HORN           624.345813
4                                BLAINE           452.743772
5                            BROADWATER           647.964736

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2          5507.2345               3007.1715             0
3          5631.7515               2398.0055             0
4          5576.4095               2531.6665             0
5           7746.366                3001.649             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            336.716               0
3                                            204.121               0
4                                            166.284               0
5                                            143.909               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   35.155      2128.192
3                           0                    0.158      3029.467
4                           0                   13.583      2864.876
5                           0                   14.868       4585.94

         Unnamed: 10
0                NaN
1  Unique Patients**
2                284
3                257
4                238
5                425
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

NC
tbl_NC
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ALAMANCE          9832.272849
3                             ALEXANDER           2283.80623
4                             ALLEGHANY           862.515561
5                                 ANSON          1531.539785

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2          78836.048               38220.704             0
3          20243.856               10506.155             0
4          6196.6825               3884.7625             0
5         12311.9515               6679.9565             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           2770.982               0
3                                            536.429               0
4                                             111.63               0
5                                            257.056               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  797.152      37047.21
3                           0                   78.759      9122.513
4                           0                   24.825      2175.465
5                           0                   77.776      5297.163

         Unnamed: 10
0                NaN
1  Unique Patients**
2               2724
3                937
4                278
5                543
=====================================
ND
tbl_ND

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS           200.836108
3                                BARNES           785.450274
4                                BENSON           379.234221
5                              BILLINGS           101.924336

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2           922.9335                 529.043             0
3           6727.757                3063.907             0
4           2543.144                1228.619             0
5           586.8084                119.0545             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                             11.924               0
3                                            173.907               0
4                                             40.837               0
5                                                  0               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                    2.066      379.9005
3                           0                   31.272      3458.671
4                           0                    5.519      1268.169
5                           0                    0.048      467.7059

         Unnamed: 10
0                NaN
1  Unique Patients**
2                 64
3                352
4                115
5                 27
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

NE
tbl_NE
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          2247.492187
3                              ANTELOPE           538.157718
4                                ARTHUR            35.361308
5                                BANNER            41.783064

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2          23027.658               13636.295             0
3          4538.2055               2556.8735             0
4          71.609845                  34.473             0
5           192.4403                 73.4865             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            633.221               0
3                                             41.513               0
4                                             28.131               0
5                                                  0               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  256.375      8501.767
3                           0                   30.434      1909.385
4                           0                    0.128      8.877845
5                           0                    0.498      118.4558

         Unnamed: 10
0                NaN
1  Unique Patients**
2                964
3                224
4                  *
5                 14
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

NH
tbl_NH
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               BELKNAP          5678.239732
3                               CARROLL          4729.221614
4                              CHESHIRE          6460.332796
5                                  COOS           3365.15778

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2         42649.3985              23184.3255             0
3         28310.3265              15777.1265             0
4         42470.1105              20517.6425             0
5          25484.338                12549.98             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           2395.605               0
3                                            997.949               0
4                                           2402.206               0
5                                            835.322               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  310.728      16758.74
3                           0                  339.441      11195.81
4                           0                  530.792      19019.47
5                           0                  250.686      11848.35

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1850
3               1385
4               1827
5               1365
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

NJ
tbl_NJ
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ATLANTIC         15557.667711
3                                BERGEN         29499.535542
4                            BURLINGTON         32630.631856
5                                CAMDEN         27504.885859

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2          80877.178               46733.606             0
3         156308.361               74255.844             0
4       229797.83789             145578.0785      24.03214
5          169382.03               99874.681             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           8007.935               0
3                                          21042.678               0
4                                          30522.194               0
5                                          14490.968               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                 1449.807      24685.83
3                           0                 6003.859      55005.98
4                  4358.22025                 3421.343      45893.97
5                           0                 2626.071      52390.31

         Unnamed: 10
0                NaN
1  Unique Patients**
2               3241
3               6452
4               6207
5               5637
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

NM
tbl_NM
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                            BERNALILLO         53590.757193
3                                CATRON           339.420811
4                                CHAVES           5098.12837
5                                CIBOLA          1755.995314

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       629969.32564             298106.9505   15479.69498
3          4778.8885               2647.6435             0
4          31475.634               18302.653             0
5         22033.3965              10733.6555             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          31694.227               0
3                                             77.232               0
4                                           1100.374               0
5                                            308.872               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                 11859.78416                 5997.869      266830.8
3                           0                    0.863       2053.15
4                           0                  262.367      11810.24
5                           0                  153.019      10837.85

         Unnamed: 10
0                NaN
1  Unique Patients**
2              18272
3                207
4               1242
5                757
=====================================
NV
tbl_NV

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                             CHURCHILL          3523.102412
3                                 CLARK        151579.251728
4                               DOUGLAS          4915.721507
5                                  ELKO          3186.656572

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2          35496.824               17912.403             0
3      1320333.71597              666720.001    3722.13244
4          33596.842               16381.629             0
5          19597.682                9146.091             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           1666.763               0
3                                          88280.435               0
4                                           1404.736               0
5                                            901.248               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  191.258       15726.4
3                  1920.98953                 8777.158        550913
4                           0                  415.887      15394.59
5                           0                  302.871      9247.472

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1349
3              47177
4               1836
5                894
=====================================
NY
tbl_NY

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                ALBANY         16543.221647
3                              ALLEGANY           4016.70499
4                                 BRONX         30554.193329
5                                BROOME         13494.790901

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       130440.67359               45375.247     359.88335
3         34998.3455              17183.4315             0
4       400742.53316              101939.235       4.43291
5         61348.9425              36756.8655             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           8890.534               0
3                                           1278.513               0
4                                          52637.626               0
5                                           3410.073               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                  5020.51724                 1166.082      69628.41
3                           0                  119.441      16416.96
4                  2100.36025                 1708.779      242352.1
5                           0                 1317.304       19864.7

         Unnamed: 10
0                NaN
1  Unique Patients**
2               4573
3               1555
4              10739
5               3205
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

OH
tbl_OH
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          1886.056986
3                                 ALLEN          7218.020249
4                               ASHLAND          4036.459595
5                             ASHTABULA          8437.356953

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2         18059.7185               9363.3635             0
3          41134.887               24080.597             0
4          26853.039               12218.939             0
5          57195.028               28016.707             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            382.873               0
3                                           2820.303               0
4                                           1401.999               0
5                                           2265.927               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   53.053      8260.429
3                           0                  386.937      13847.05
4                           0                  470.211      12761.89
5                           0                  337.074      26575.32

         Unnamed: 10
0                NaN
1  Unique Patients**
2                732
3               1920
4               1372
5               3078
=====================================
OK
tbl_OK

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAIR           1348.77765
3                               ALFALFA           470.517294
4                                 ATOKA          1038.971094
5                                BEAVER           314.925697

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2          16484.262               11088.242             0
3          1873.7879               1117.1695             0
4          10647.708                6722.894             0
5          1472.4869                870.1385             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            354.585               0
3                                             88.781               0
4                                            215.558               0
5                                             11.029               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   46.971      4994.464
3                           0                   10.729      657.1084
4                           0                   36.488      3672.768
5                           0                        0      591.3194

         Unnamed: 10
0                NaN
1  Unique Patients**
2                545
3                 82
4                402
5                 73
=====================================
OR
tbl_OR

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 BAKER          1868.677968
3                                BENTON           5792.09791
4                             CLACKAMAS         30005.728111
5                               CLATSOP          3940.321134

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2          18046.059               10289.549             0
3          34292.011               17920.388             0
4        209832.5535             105172.0165             0
5          31719.374               15777.331             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            271.143               0
3                                           5363.266               0
4                                          14209.947               0
5                                           1142.578               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   92.761      7392.606
3                           0                  890.157       10118.2
4                           0                  2213.76      88236.83
5                           0                  358.645      14440.82

         Unnamed: 10
0                NaN
1  Unique Patients**
2                833
3               1406
4               7767
5               1292
=====================================
PA
tbl_PA

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          8881.609161
3                             ALLEGHENY         84169.514963
4                             ARMSTRONG          5641.306644
5                                BEAVER         14947.295709

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2          32361.498               18909.297             0
3       619683.84773             209661.1395    9333.21781
4         39055.7815              16715.5515             0
5         75957.6885              37706.0875             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           2617.385               0
3                                          46517.877               0
4                                           1517.264               0
5                                           5212.321               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  476.896      10357.92
3                 22587.60142                 8344.312      323239.7
4                           0                  296.786      20526.18
5                           0                   695.77      32343.51

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1559
3              21886
4               2156
5               5255
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

RI
tbl_RI
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               BRISTOL          2944.846821
3                                  KENT         12804.836526
4                               NEWPORT           7628.41783
5                            PROVIDENCE         32838.429633

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2         27202.2735              12773.2085             0
3        102183.0775              50981.0125             0
4         49338.6655              27952.4015             0
5       316256.93431             121338.3745    1761.54412

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           1626.334               0
3                                          10487.114               0
4                                           6622.103               0
5                                          18958.759               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  288.061      12514.67
3                           0                 1204.201      39510.75
4                           0                  774.081      13990.08
5                 25823.29469                 2712.862      145662.1

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1013
3               3923
4               1620
5              10887
=====================================
SC
tbl_SC

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                             ABBEVILLE          1768.757534
3                                 AIKEN         13990.794168
4                             ALLENDALE           530.713033
5                              ANDERSON         15444.172553

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2         16355.9725              10134.6285             0
3         117395.578               56829.605             0
4          6145.6285               3135.1055             0
5         96201.5655              61699.4975             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            490.443               0
3                                           6350.965               0
4                                            159.118               0
5                                           4211.905               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  120.555      5610.346
3                           0                  864.618      53350.39
4                           0                   96.749      2754.656
5                           0                  731.153      29559.01

         Unnamed: 10
0                NaN
1  Unique Patients**
2                710
3               5033
4                203
5               4527
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

SD
tbl_SD
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                AURORA           215.689047
3                                BEADLE          1160.321274
4                               BENNETT           180.863601
5                             BON HOMME           502.782312

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2          1768.1806                983.6595             0
3          6864.2405               3261.6065             0
4          2125.9895               1005.0395             0
5           4172.975                1703.892             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                             16.893               0
3                                            203.782               0
4                                              30.05               0
5                                            138.654               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                    0.934      766.6941
3                           0                   90.178      3308.674
4                           0                    2.884      1088.016
5                           0                   35.442      2294.987

         Unnamed: 10
0                NaN
1  Unique Patients**
2                104
3                424
4                111
5                252
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

TN
tbl_TN
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ANDERSON          6556.699195
3                               BEDFORD          3091.145832
4                                BENTON          1604.774489
5                               BLEDSOE           952.447404

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2          37975.531               25910.367             0
3          25234.596               12441.983             0
4          14499.843                8813.688             0
5           4965.658                2822.098             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           2269.718               0
3                                           1265.018               0
4                                            382.299               0
5                                            101.022               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  490.588      9304.858
3                           0                   61.925      11465.67
4                           0                   50.357      5253.499
5                           0                   27.844      2014.694

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1696
3               1070
4                489
5                307
=====================================
TX
tbl_TX

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ANDERSON           3440.89617
3                               ANDREWS           686.151461
4                              ANGELINA          5712.267051
5                               ARANSAS          2623.331294

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2         33930.8985              20402.7585             0
3           3320.601                1844.015             0
4          50214.015               30259.123             0
5         18012.2165              11599.0545             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            1317.75               0
3                                            250.006               0
4                                           2361.111               0
5                                             558.64               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   200.95      12009.44
3                           0                   39.304      1187.276
4                           0                  659.211      16934.57
5                           0                  119.218      5735.304

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1384
3                167
4               2182
5                706
=====================================
UT
tbl_UT

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                BEAVER           349.069535
3                             BOX ELDER          2636.300985
4                                 CACHE          3646.240971
5                                CARBON          1333.405791

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2          1709.7388               1065.3935             0
3         16768.5645               8563.2115             0
4           25027.72               13100.164             0
5           10768.12                5518.822             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                              63.74               0
3                                            864.892               0
4                                           4359.079               0
5                                            160.958               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                     0.87      579.7353
3                           0                  161.647      7178.814
4                           0                  415.748      7152.729
5                           0                   96.532      4991.808

         Unnamed: 10
0                NaN
1  Unique Patients**
2                 81
3                660
4                816
5                402
=====================================
VA
tbl_VA

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ACCOMACK          3130.493557
3                             ALBEMARLE          7874.922557
4                             ALLEGHANY          1484.780415
5                                AMELIA          1137.452524

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2          16247.166                9837.622             0
3          28707.899               15850.942             0
4           7383.564                2196.739             0
5          11517.934                4357.065             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            841.147               0
3                                           4086.012               0
4                                            137.307               0
5                                            262.501               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   133.89      5434.507
3                           0                  814.539      7956.406
4                           0                   23.051      5026.467
5                           0                  188.837      6709.531

         Unnamed: 10
0                NaN
1  Unique Patients**
2                680
3               1098
4                526
5                366
=====================================
VT
tbl_VT

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               ADDISON          2298.658996
3                            BENNINGTON          2938.964399
4                             CALEDONIA          2461.749552
5                            CHITTENDEN          9221.016591

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2         11821.3005               6271.6455             0
3         20960.4565               9105.2575             0
4          19664.469                8481.312             0
5          50383.906               25271.786             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            758.917               0
3                                            567.591               0
4                                           1237.923               0
5                                           7848.163               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  171.508       4619.23
3                           0                  244.408       11043.2
4                           0                  127.987      9817.247
5                           0                 1099.217      16164.74

         Unnamed: 10
0                NaN
1  Unique Patients**
2                700
3               1171
4                887
5               2388
=====================================
WA
tbl_WA

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS           594.227176
3                                ASOTIN          2343.122598
4                                BENTON         14337.518363
5                                CHELAN           5046.37347

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2          3863.5965               2160.0835             0
3         12597.5245               7777.5725             0
4         76030.4525              44530.0685             0
5         27198.9375              17255.4815             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            166.333               0
3                                            443.487               0
4                                           5872.836               0
5                                           1179.348               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   34.149      1503.031
3                           0                  261.065        4115.4
4                           0                  859.358      24768.19
5                           0                  446.775      8317.333

         Unnamed: 10
0                NaN
1  Unique Patients**
2                140
3                670
4               3409
5               1260
=====================================
WI
tbl_WI

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          2316.884392
3                               ASHLAND           1348.39394
4                                BARRON          3657.535579
5                              BAYFIELD          1547.498803

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2          18906.227                 6962.74             0
3          8195.9675               4973.5485             0
4         25221.1655              12537.1935             0
5          10127.438                4731.659             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            115.732               0
3                                            363.708               0
4                                            894.928               0
5                                            205.607               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   48.275      11779.48
3                           0                  125.766      2732.945
4                           0                  235.734      11553.31
5                           0                   49.691      5140.481

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1032
3                433
4               1356
5                561
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

WV
tbl_WV
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               BARBOUR          1333.498663
3                              BERKELEY         10664.034905
4                                 BOONE          1544.278722
5                               BRAXTON           1259.86995

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2         12355.1265               5896.7745             0
3       526887.88605               52923.065    9949.11136
4          15230.948                 9244.32             0
5         14421.3115               6587.7265             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            364.714               0
3                                           5992.853               0
4                                            339.029               0
5                                             150.91               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   60.111      6033.527
3                370253.67569                  644.021      87125.16
4                           0                   88.052      5559.547
5                           0                   89.793      7592.882

         Unnamed: 10
0                NaN
1  Unique Patients**
2                521
3               4418
4                607
5                664
=====================================
WY
tbl_WY

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                ALBANY          2222.601515
3                              BIG HORN           899.669013
4                              CAMPBELL          2861.598146
5                                CARBON          1095.713304

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2         18891.3995               8629.4825             0
3          5399.4765               2683.0815             0
4          17785.153                 7807.76             0
5            7679.51                3536.437             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           3756.721               0
3                                            264.542               0
4                                            914.962               0
5                                            325.605               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  140.926       6364.27
3                           0                   22.362      2429.491
4                           0                  129.191       8933.24
5                           0                   14.345      3803.123

         Unnamed: 10
0                NaN
1  Unique Patients**
2                791
3                392
4               1131
5                415
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

PR
tbl_PR
  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ADJUNTAS                  NaN
3                                AGUADA                  NaN
4                             AGUADILLA                  NaN
5                          AGUAS BUENAS                  NaN

          Unnamed: 2               Unnamed: 3    Unnamed: 4  \
0                NaN                      NaN           NaN
1  Total Expenditure  Compensation & Pensions  Construction
2          6902.6125                4484.6925             0
3          13662.616                 8731.209             0
4         34371.6655               22087.6365             0
5           8903.759                 4081.577             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            307.705               0
3                                            738.393               0
4                                           1853.521               0
5                                            194.479               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                    0.558      2109.657
3                           0                   23.339      4169.675
4                           0                  263.708       10166.8
5                           0                   30.749      4596.954

         Unnamed: 10
0                NaN
1  Unique Patients**
2                273
3                477
4               1175
5                312
=====================================
GU
tbl_GU

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY16 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                  Guam          9932.676458
3                                   NaN                  NaN
4                                   NaN                  NaN
5                         Guam (Totals)          9932.676458

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        107210.0635              59862.0925             0
3                NaN                     NaN           NaN
4                NaN                     NaN           NaN
5        107210.0635              59862.0925             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          16957.942               0
3                                                NaN             NaN
4                                                NaN             NaN
5                                          16957.942               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  964.359      29425.67
3                         NaN                      NaN           NaN
4                         NaN                      NaN           NaN
5                           0                  964.359      29425.67

         Unnamed: 10 Unnamed: 11
0                NaN         NaN
1  Unique Patients**         NaN
2               3084         NaN
3                NaN         NaN
4                NaN         NaN
5               3084         NaN
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [7]:
df.head(10)

,FY16 Summary of Expenditures by State,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Expenditures in $000s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,County/ Congressional District,Veteran Population*,Total Expenditure,Compensation & Pension,Construction,Education & Vocational Rehabilitation/ Employment,Loan Guaranty#,General Operating Expenses,Insurance & Indemnities,Medical Care,Unique Patients**,NaN
2,Guam,9932.676458,107210.0635,59862.0925,0,16957.942,0,0,964.359,29425.67,3084,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Guam (Totals),9932.676458,107210.0635,59862.0925,0,16957.942,0,0,964.359,29425.67,3084,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Notes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
9,"* Veteran population estimates, as of Septembe...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.to_csv('Annual_Expenditures/GDX_FY16.csv')