In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Table, Column, Integer, String

In [3]:
import sqlite3
import os
from sqlalchemy import MetaData
from sqlalchemy.orm import mapper

In [4]:
#set the file name to read the excel sheets
xls_file_name='Annual_Expenditures/GDX_FY19.xlsx'
sql_file_name='Annual_Expenditures/GDX_FY19.db'

#path of the excel file to get all the sheets from the excel file into xls sheet name list
xls = pd.ExcelFile(xls_file_name)
print(xls_file_name)
print(xls.sheet_names)

Annual_Expenditures/GDX_FY19.xlsx
['Data Guide', 'State Level Expenditures', 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY', 'PR', 'GU']

In [5]:
#For loop to get the sheet name for excel file
for sheet_name in xls.sheet_names:
    
    #print the sheet name
    print(sheet_name)
    
    #set the table name 
    sqlite_table = "tbl_"+sheet_name
    
    #print name of the table
    print(sqlite_table)
    
    #read the excel sheet in the pandas dataframe
    #with the argument sheet_name.
    df = pd.read_excel(xls_file_name, sheet_name=sheet_name, index_col=None)
    
    if (sheet_name == 'State Level Expenditures'):
        print('SLE_DERYA',sheet_name)
        df.drop([0,2,4], axis=0, inplace=True)
        #df.drop([2], axis=0, inplace=True)
        #df.drop([3], axis=0, inplace=True)
        df.drop("Unnamed: 3", axis=1, inplace=True)
        df.drop("Unnamed: 4", axis=1, inplace=True)
        df.drop("Unnamed: 5", axis=1, inplace=True)
        df.drop("Unnamed: 6", axis=1, inplace=True)
        df.drop("Unnamed: 7", axis=1, inplace=True)
        df.drop("Unnamed: 8", axis=1, inplace=True)
#     else:
#         print('A STATE NAME:',sheet_name)
#         df.drop([0], axis=0, inplace=True)
#         #df.drop([2], axis=0, inplace=True)
#         #df.drop([3], axis=0, inplace=True)
#         df.drop("Unnamed: 3", axis=1, inplace=True)
#         df.drop("Unnamed: 4", axis=1, inplace=True)
#         df.drop("Unnamed: 5", axis=1, inplace=True)
#         df.drop("Unnamed: 6", axis=1, inplace=True)
#         df.drop("Unnamed: 7", axis=1, inplace=True)
#         df.drop("Unnamed: 8", axis=1, inplace=True)

    # print top 10 rows from dataframe
    print(df.head(6))

    print("=====================================")
    
    #create SQLite database connection
    conn = sqlite3.connect(sql_file_name)
    
    #store data into SQLite database table
    df.to_sql(sqlite_table, conn, if_exists='append', index=False)
    
    #close SQLite database connection
    conn.close()

Data Guide
tbl_Data Guide
                                          Unnamed: 0
0  GEOGRAPHIC DISTRIBUTION OF VA EXPENDITURES (GD...
1                                                NaN
2                                                NaN
3  Prepared by the National Center for Veterans A...
4                                                NaN
5     Please direct any questions to vancvas@va.gov
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

State Level Expenditures
tbl_State Level Expenditures
SLE_DERYA State Level Expenditures
               FY19 Summary of Expenditures by State           Unnamed: 1  \
1                                              State  Veteran Population*
3                                             Totals      19119130.900835
5                                             Alaska         68890.867022
6  Arizona                                       ...        492472.398692
7  Arkansas                                      ...        216323.336402
8                                         California       1578508.931217

          Unnamed: 2       Unnamed: 9         Unnamed: 10
1  Total Expenditure     Medical Care  Unique Patients **
3   202404735.804876  77802983.514996             6159661
5      823089.914491    383840.753921               21724
6     4694175.741276   1985786.798416              162285
7      2514571.73424    1143107.85261               84541
8    17880625.196981   7107566.849761              465475
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

AK
tbl_AK
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                        ALEUTIANS EAST            58.369968
3                        ALEUTIANS WEST           143.605572
4                             ANCHORAGE         30317.566668
5                                BETHEL           659.382097

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2         150.251613                   23.03             0
3         255.782238                  141.15             0
4      381734.349697              145964.224     702.47388
5        1683.060723                 801.283             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                                  0               0
3                                             34.661               0
4                                          37526.032               0
5                                             48.427               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                           0                   26.985     100.236613
3                           0                    0.418      79.553238
4                 28714.10554                 1296.275  167531.239277
5                           0                    2.149     831.201723

         Unnamed: 10
0                NaN
1  Unique Patients**
2                  *
3                 21
4               9469
5                 88
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

AL
tbl_AL
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               AUTAUGA          5950.322496
3                               BALDWIN          19876.84657
4                               BARBOUR          1691.156475
5                                  BIBB          1147.914587

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       66064.105475               42125.844             0
3      143783.167125               94806.453             0
4       20214.427134               12844.429             0
5       12988.125096                7300.426             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            5525.02               0
3                                           9185.304               0
4                                            784.224               0
5                                            296.437               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  335.066  18078.175475
3                           0                 1541.144  38250.266125
4                           0                   83.509   6502.265134
5                           0                   41.988   5349.274096

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1606
3               5044
4                571
5                442
=====================================
AR
tbl_AR

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ARKANSAS           1194.34327
3                                ASHLEY          1408.976598
4                                BAXTER          4815.995015
5                                BENTON         16610.355865

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       12809.563549                5790.952             0
3       15184.739635                 7946.63             0
4        43677.47912               25255.729             0
5      157660.630515                 73784.6             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            204.626               0
3                                             355.27               0
4                                           1032.208               0
5                                           5986.324               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                    69.62   6744.365549
3                           0                  163.284   6719.555635
4                           0                  302.492   17087.05012
5                           0                   762.12  77127.586515

         Unnamed: 10
0                NaN
1  Unique Patients**
2                398
3                491
4               2070
5               6345
=====================================
AZ

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

tbl_AZ
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                APACHE           2819.90031
3                               COCHISE         20239.287235
4                              COCONINO          7920.994525
5                                  GILA          5638.055941

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       34904.860727               19671.081             0
3      220517.092926              129376.727             0
4       57872.092442               27414.114             0
5       51695.785058                23748.59             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           1252.684               0
3                                          12069.475               0
4                                           7485.338               0
5                                            750.369               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  307.419  13673.676727
3                           0                  821.484  78249.406926
4                           0                   293.33  22679.310442
5                           0                  543.602  26653.224058

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1354
3               7569
4               2287
5               1985
=====================================
CA
tbl_CA

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               ALAMEDA          46748.02724
3                                ALPINE            85.637695
4                                AMADOR          3502.431974
5                                 BUTTE         15037.803698

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2      540136.024113              192192.906    3440.51171
3         625.859763                  246.56             0
4       30955.941856               15395.214             0
5      130785.414569               69607.121             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          58006.608               0
3                                                  0               0
4                                           1082.073               0
5                                           8392.017               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                 42636.42025                 4408.067  239451.511153
3                           0                        0     379.299763
4                           0                  136.695   14341.959856
5                           0                 1166.529   51619.747569

         Unnamed: 10
0                NaN
1  Unique Patients**
2              11991
3                 18
4               1031
5               4490
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

CO
tbl_CO
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS         28226.524656
3                               ALAMOSA            948.21751
4                              ARAPAHOE         42618.832765
5                             ARCHULETA          1085.129742

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2      219457.398217               97110.631  -23115.89114
3       10930.853623                6192.036             0
4      378194.621681              185546.287             0
5       10179.643237                5804.391             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          22159.389               0
3                                            467.674               0
4                                          41913.283               0
5                                            111.991               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                  4165.53784                 1414.951  117722.780517
3                           0                   47.785    4223.358623
4                           0                 3283.398  147451.653681
5                           0                   48.137    4215.124237

         Unnamed: 10
0                NaN
1  Unique Patients**
2               7019
3                396
4              10028
5                471
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

CT
tbl_CT
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                             FAIRFIELD         28432.387324
3                              HARTFORD           42031.2589
4                            LITCHFIELD          10715.75449
5                             MIDDLESEX           9792.50884

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2      203735.879052               76271.274             0
3      336308.373664               132940.04             0
4       77551.142701               31529.027             0
5       74167.388443               27945.068             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          18733.769               0
3                                          24839.615               0
4                                            5761.58               0
5                                           7682.441               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                           0                 6027.015  102703.821052
3                 15445.38396                  5964.73  157118.604704
4                           0                   907.16   39353.375701
5                           0                 1081.831   37458.048443

         Unnamed: 10
0                NaN
1  Unique Patients**
2               7797
3              12307
4               3278
5               2756
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

DC
tbl_DC
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                  DISTRICT OF COLUMBIA         26863.294377
3                                   NaN                  NaN
4                           DC (Totals)         26863.294377
5                                   NaN                  NaN

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2     4301017.404099              107722.867  282814.13572
3                NaN                     NaN           NaN
4     4301017.404099              107722.867  282814.13572
5                NaN                     NaN           NaN

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          35682.847               0
3                                                NaN             NaN
4                                          35682.847               0
5                                                NaN             NaN

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2               3626324.68009                 2278.828  246194.046289
3                         NaN                      NaN            NaN
4               3626324.68009                 2278.828  246194.046289
5                         NaN                      NaN            NaN

         Unnamed: 10
0                NaN
1  Unique Patients**
2               7885
3                NaN
4               7885
5                NaN
=====================================
DE
tbl_DE

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                  KENT         19834.065222
3                            NEW CASTLE         29517.853535
4                                SUSSEX         20363.260976
5                                   NaN                  NaN

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2      163842.605751              103067.371             0
3      258979.808533               111406.66      14.76379
4      112573.010028               67680.399             0
5                NaN                     NaN           NaN

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           17101.87               0
3                                          16520.515               0
4                                             4731.7               0
5                                                NaN             NaN

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                           0                  753.679   42919.685751
3                  3467.41364                  2291.81  125278.646103
4                           0                 1958.687   38202.224028
5                         NaN                      NaN            NaN

         Unnamed: 10
0                NaN
1  Unique Patients**
2               4664
3               8147
4               4565
5                NaN
=====================================
FL
tbl_FL

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               ALACHUA         15900.377421
3                                 BAKER          2119.050699
4                                   BAY         24674.340489
5                              BRADFORD          2306.027626

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2      276601.340216               87208.804    1761.70798
3        19246.65802                9171.706             0
4      195574.445975              141165.946             0
5       27979.800416               10767.206             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          14518.061               0
3                                           1070.461               0
4                                          12202.062               0
5                                            713.011               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                  4678.59294                 1199.343  167234.831296
3                           0                   31.791     8972.70002
4                           0                  905.167   41301.270975
5                           0                   33.109   16466.474416

         Unnamed: 10
0                NaN
1  Unique Patients**
2               7735
3                708
4               5886
5                950
=====================================
GA
tbl_GA

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               APPLING          1021.104528
3                              ATKINSON           400.891928
4                                 BACON           573.322704
5                                 BAKER           169.598096

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        5377.055367                5126.448             0
3        6343.040273                2236.859             0
4        4918.934515                2799.916             0
5        2706.438218                1031.397             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            160.597               0
3                                             91.223               0
4                                             201.94               0
5                                             39.123               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   33.435     56.575367
3                           0                    3.727   4011.231273
4                           0                   39.832   1877.246515
5                           0                    1.338   1634.580218

         Unnamed: 10
0                NaN
1  Unique Patients**
2                370
3                172
4                208
5                 69
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

HI
tbl_HI
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                HAWAII         14745.815012
3                              HONOLULU         82970.908803
4                               KALAWAO             4.009641
5                                 KAUAI          4230.010916

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2      147236.840898               73014.422             0
3       848042.17196              388623.147     825.24671
4          16.756763                       0             0
5       42624.102933               18016.842             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           5306.169               0
3                                         165854.348               0
4                                                  0               0
5                                           1146.725               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                 1102.191  67814.058898
3                 17048.63154                 8822.828  266867.97071
4                           0                        0     16.756763
5                           0                  404.874  23055.661933

         Unnamed: 10
0                NaN
1  Unique Patients**
2               4581
3              20117
4                  *
5                  *
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

IA
tbl_IA
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAIR           513.418293
3                                 ADAMS           294.235057
4                             ALLAMAKEE           953.297644
5                             APPANOOSE             922.1601

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        4182.011206                1360.694             0
3        1801.107944                 857.709             0
4        8164.973562                3867.494             0
5         9307.32855                3958.567             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                             155.02               0
3                                             24.457               0
4                                            128.074               0
5                                            151.536               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   50.642   2615.655206
3                           0                     5.33    913.611944
4                           0                    56.87   4112.535562
5                           0                   92.455    5104.77055

         Unnamed: 10
0                NaN
1  Unique Patients**
2                184
3                104
4                393
5                385
=====================================
ID
tbl_ID

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                   ADA         33054.646506
3                                 ADAMS           390.270308
4                               BANNOCK          5472.904618
5                             BEAR LAKE           393.176371

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       351529.10595              158341.092    2410.59273
3        4761.194021                 1915.24             0
4       50817.842533               26660.147             0
5        3223.676952                1403.506             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           22063.62               0
3                                             33.775               0
4                                           3209.238               0
5                                             62.105               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                 11892.93519                 2379.615  154441.25103
3                           0                   33.583   2778.596021
4                           0                  238.321  20710.136533
5                           0                        0   1758.065952

         Unnamed: 10
0                NaN
1  Unique Patients**
2              13020
3                180
4               2062
5                129
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

IL
tbl_IL
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          4649.759348
3                             ALEXANDER           501.640869
4                                  BOND          1213.709703
5                                 BOONE           2745.58041

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       40635.619409               22658.642             0
3        7930.749277                3033.726             0
4        8234.555267                4553.627             0
5       17580.183896                9090.074             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           1199.717               0
3                                             94.865               0
4                                            312.504               0
5                                           1112.325               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  314.961  16462.299409
3                           0                   52.841   4749.317277
4                           0                     9.52   3358.904267
5                           0                  106.874   7270.910896

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1694
3                239
4                256
5                858
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

IN
tbl_IN
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          1438.475791
3                                 ALLEN         20276.411427
4                           BARTHOLOMEW          4298.603512
5                                BENTON           550.628388

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       10006.176665                4649.506             0
3      191325.454155                77082.29             0
4       31346.567708               16322.827             0
5        3509.773887                  1582.4             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            242.013               0
3                                           8379.783               0
4                                           1370.134               0
5                                             93.885               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                           0                  183.086    4931.571665
3                   855.43261                 1070.583  103937.365545
4                           0                  145.495   13508.111708
5                           0                    0.631    1832.857887

         Unnamed: 10
0                NaN
1  Unique Patients**
2                497
3               7382
4               1366
5                161
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

KS
tbl_KS
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ALLEN           945.308448
3                              ANDERSON           512.216417
4                              ATCHISON          1014.844955
5                                BARBER           288.282154

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        5534.165823                2678.837             0
3        3745.839625                1932.463             0
4        9758.354665                4258.126             0
5        1679.527653                 821.963             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            221.931               0
3                                             70.468               0
4                                            397.629               0
5                                              13.51               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   15.104   2618.293823
3                           0                   16.764   1726.144625
4                           0                   32.217   5070.382665
5                           0                    0.786    843.268653

         Unnamed: 10
0                NaN
1  Unique Patients**
2                281
3                159
4                356
5                103
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

KY
tbl_KY
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAIR          1049.644043
3                                 ALLEN          1371.607794
4                              ANDERSON           1624.33898
5                               BALLARD           599.324456

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       10950.112993                5070.555             0
3        12207.54342                7040.651             0
4       15103.327146                7253.259             0
5        5317.243509                2366.953             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            447.965               0
3                                            376.486               0
4                                            676.231               0
5                                            135.327               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                    2.766   5428.826993
3                           0                   53.487    4736.91942
4                           0                   51.977   7121.860146
5                           0                   56.233   2758.730509

         Unnamed: 10
0                NaN
1  Unique Patients**
2                407
3                406
4                579
5                227
=====================================
LA
tbl_LA

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                ACADIA          3031.816969
3                                 ALLEN          1281.373009
4                             ASCENSION          5813.595149
5                            ASSUMPTION           1049.33719

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       25735.076399               14485.784             0
3       15889.178976                8162.648             0
4       51836.192696                29695.61             0
5        7923.267314                4766.451             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           1060.167               0
3                                            376.199               0
4                                           3607.722               0
5                                            200.497               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  258.051   9931.074399
3                           0                   10.843   7339.488976
4                           0                   213.24  18319.620696
5                           0                   23.088   2933.231314

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1132
3                522
4               1554
5                305
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

MA
tbl_MA
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                            BARNSTABLE         16937.317698
3                             BERKSHIRE           8164.33908
4                               BRISTOL         27917.251871
5                                 DUKES           818.924501

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2      125297.506042               68545.085    3565.68724
3       62397.051332               28919.381             0
4      264755.816634              129799.151             0
5        4868.773857                2477.928             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           8294.325               0
3                                           2663.557               0
4                                          17951.576               0
5                                            167.385               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                  4178.36717                 2396.659   38317.382632
3                           0                 1190.132   29623.981332
4                           0                 2235.482  114769.607634
5                           0                  161.868    2061.592857

         Unnamed: 10
0                NaN
1  Unique Patients**
2               4812
3               2192
4               8392
5                216
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

MD
tbl_MD
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ALLEGANY          5700.928236
3                          ANNE ARUNDEL         50123.299147
4                             BALTIMORE         43995.360466
5                               CALVERT          8949.102979

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       41764.897562               19706.776             0
3      418672.140052              245434.096             0
4      361200.445403              153714.568             0
5         62912.7916               40188.255             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           1294.281               0
3                                          70428.959               0
4                                          25169.213               0
5                                           10840.21               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                           0                  362.089   20401.751562
3                           0                 2824.921   99984.164052
4                           0                 4407.782  177908.882403
5                           0                  658.932     11225.3946

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1748
3               9154
4              10917
5               1185
=====================================
ME
tbl_ME

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                          ANDROSCOGGIN          9258.363655
3                             AROOSTOOK          6295.126975
4                            CUMBERLAND         18405.831397
5                              FRANKLIN          2543.753036

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       85123.999323               47394.152             0
3       72590.110231               44516.484             0
4       154527.94027               86550.626             0
5       28527.193479                14472.82             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           3578.314               0
3                                           1719.302               0
4                                          12094.597               0
5                                            904.579               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  366.305  33785.228323
3                           0                  437.805  25916.519231
4                           0                  1842.49   54040.22727
5                           0                  514.976  12634.818479

         Unnamed: 10
0                NaN
1  Unique Patients**
2               3515
3               3128
4               5659
5               1098
=====================================
MI
tbl_MI

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                ALCONA           1390.13446
3                                 ALGER           875.442891
4                               ALLEGAN           6454.97754
5                                ALPENA          2561.089552

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       10778.599907                 5715.86             0
3        8030.736291                4805.049             0
4       42578.438417               24018.056             0
5       22168.009815               10494.472             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            255.134               0
3                                             89.341               0
4                                           2410.164               0
5                                            591.441               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   49.331   4758.274907
3                           0                   99.051   3037.295291
4                           0                  212.628  15937.590417
5                           0                   88.038  10994.058815

         Unnamed: 10
0                NaN
1  Unique Patients**
2                537
3                352
4               1784
5               1025
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

MN
tbl_MN
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                AITKIN          1712.933597
3                                 ANOKA         20808.460443
4                                BECKER          2777.105237
5                              BELTRAMI          2883.722688

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       20290.441382                8635.445             0
3      170900.910022               76477.609             0
4         30176.8864               12715.899             0
5       32436.677589               17867.558             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            254.733               0
3                                           7958.556               0
4                                            560.725               0
5                                           1191.635               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   77.095  11323.168382
3                           0                 1303.068  85161.677022
4                           0                  171.563    16728.6994
5                           0                  136.156  13241.328589

         Unnamed: 10
0                NaN
1  Unique Patients**
2                877
3               7327
4               1309
5               1410
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

MO
tbl_MO
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAIR          1419.548984
3                                ANDREW          1129.035911
4                              ATCHISON           418.604376
5                               AUDRAIN          1636.690725

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        13198.88854                5867.439             0
3        7920.690067                4058.149             0
4        3450.035349                 1974.83             0
5       21841.653029                7716.169             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            846.579               0
3                                            230.147               0
4                                             31.466               0
5                                            269.273               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  152.742    6332.12854
3                           0                   11.341   3621.053067
4                           0                   18.205   1425.534349
5                           0                  126.128  13730.083029

         Unnamed: 10
0                NaN
1  Unique Patients**
2                603
3                423
4                135
5                906
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

MS
tbl_MS
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          1682.964682
3                                ALCORN          1841.088191
4                                 AMITE           719.927177
5                                ATTALA          1096.440464

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        24496.75064               11192.431     234.52169
3       16497.956162               11001.709             0
4        7564.255752                3399.801             0
5         13505.5183                6737.708             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            436.424               0
3                                            399.938               0
4                                            185.057               0
5                                            242.786               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                    716.3406                   142.87   11774.16335
3                   270.21522                  169.372   4656.721942
4                           0                   10.469   3968.928752
5                           0                   19.842     6505.1823

         Unnamed: 10
0                NaN
1  Unique Patients**
2                977
3                549
4                341
5                489
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

MT
tbl_MT
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                            BEAVERHEAD             722.9793
3                              BIG HORN           588.884321
4                                BLAINE           433.467464
5                            BROADWATER           625.691746

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        6526.200621                3299.227             0
3        6408.175805                2681.761             0
4        4497.856268                2503.076             0
5         9111.12696                3489.772             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            422.223               0
3                                            107.571               0
4                                            126.158               0
5                                            152.551               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  113.549   2691.201621
3                           0                   61.024   3557.819805
4                           0                   10.868   1857.754268
5                           0                   22.742    5446.06196

         Unnamed: 10
0                NaN
1  Unique Patients**
2                281
3                253
4                154
5                366
=====================================
NC
tbl_NC

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ALAMANCE          9457.096781
3                             ALEXANDER          2189.172203
4                             ALLEGHANY           811.463494
5                                 ANSON          1427.001123

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2      100814.430806               47798.786             0
3       24047.298603               11931.631             0
4        7830.133076                5092.691             0
5       15200.951099                7365.217             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                             4379.1               0
3                                            501.954               0
4                                            115.051               0
5                                            265.406               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                    691.8  47944.744806
3                           0                  116.844  11496.869603
4                           0                   27.874   2594.517076
5                           0                   52.787   7517.541099

         Unnamed: 10
0                NaN
1  Unique Patients**
2               3013
3                929
4                287
5                509
=====================================
ND
tbl_ND

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS           187.389479
3                                BARNES           727.629917
4                                BENSON            348.67604
5                              BILLINGS            98.268202

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2         1464.90289                 798.583             0
3        9244.868912                3967.253             0
4        3515.045468                1350.124             0
5         254.302569                   83.04             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                              2.553               0
3                                             243.26               0
4                                             48.402               0
5                                                  0               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                        0     663.76689
3                           0                   87.737   4946.618912
4                           0                   42.382   2074.137468
5                           0                    0.056    171.206569

         Unnamed: 10
0                NaN
1  Unique Patients**
2                 74
3                366
4                116
5                 28
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

NE
tbl_NE
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          2109.474831
3                              ANTELOPE           483.403665
4                                ARTHUR             30.28836
5                                BANNER            38.784161

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       25760.309703               14232.805             0
3        3449.435964                1873.287             0
4         105.613375                   46.12             0
5         188.384928                     112             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            677.964               0
3                                             39.492               0
4                                             34.399               0
5                                                  0               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  142.002  10707.538703
3                           0                  143.491   1393.165964
4                           0                        0     25.094375
5                           0                        0     76.384928

         Unnamed: 10
0                NaN
1  Unique Patients**
2                908
3                203
4                  *
5                  *
=====================================
NH

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

tbl_NH
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               BELKNAP          5314.188261
3                               CARROLL           4351.98664
4                              CHESHIRE          5935.234414
5                                  COOS          3167.643755

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        52600.97326               26433.428             0
3        35702.48077               18012.116             0
4       48476.133019               23206.958             0
5       31071.402745               14763.699             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           2499.065               0
3                                           1452.284               0
4                                           2778.419               0
5                                            989.198               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  599.755   23068.72526
3                           0                  485.508   15752.57277
4                           0                  571.287  21919.469019
5                           0                  144.311  15174.194745

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1950
3               1419
4               1863
5               1258
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

NJ
tbl_NJ
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ATLANTIC         14262.475107
3                                BERGEN         24248.376713
4                            BURLINGTON         29781.781195
5                                CAMDEN         24606.813231

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       95872.154865               54592.943             0
3      163545.563918               79618.077             0
4      263675.730192              163951.036     337.84287
5      201159.664089              113431.948             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           7563.648               0
3                                          21572.706               0
4                                          31556.431               0
5                                          15570.419               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  982.618  32732.945865
3                           0                  5141.17  57213.610918
4                  4249.07797                 3324.434  60256.908352
5                           0                 2474.367  69682.930089

         Unnamed: 10
0                NaN
1  Unique Patients**
2               3504
3               5911
4               6625
5               5759
=====================================
NM
tbl_NM

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                            BERNALILLO         50687.868533
3                                CATRON             312.9824
4                                CHAVES          4719.075356
5                                CIBOLA          1645.388402

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2      680645.955381              312756.391    1234.76415
3        5071.617263                2897.474             0
4       32183.418542               18632.592             0
5       20709.533096               11119.731             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          27802.188               0
3                                             74.839               0
4                                           1009.331               0
5                                            607.051               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                 14135.09547                 3789.029  320928.487761
3                           0                   23.216    2076.088263
4                           0                  281.467   12260.028542
5                           0                  124.869    8857.882096

         Unnamed: 10
0                NaN
1  Unique Patients**
2              18432
3                200
4               1228
5                645
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

NV
tbl_NV
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                             CHURCHILL           3615.71051
3                                 CLARK        143457.324044
4                               DOUGLAS          4637.483348
5                                  ELKO          3195.070371

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       40873.128321               21241.638             0
3     1636541.696307              863854.206    -104.68908
4       44894.821234                20752.04             0
5       27150.626428               11575.305             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           1834.517               0
3                                          99307.378               0
4                                           1376.087               0
5                                            917.491               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                           0                  272.359   17524.614321
3                  2581.21874                 7706.124  663197.458647
4                           0                   235.09   22531.604234
5                           0                  674.314   13983.516428

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1403
3              51666
4               1940
5                928
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

NY
tbl_NY
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                ALBANY         14948.249079
3                              ALLEGANY          3772.734314
4                                 BRONX         27668.416142
5                                BROOME         12159.794556

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2      134141.697475               46586.782    1444.56393
3       38548.238379               18534.002             0
4      421341.345053               114205.03             0
5       67610.173736               38295.326             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           8077.896               0
3                                           1445.251               0
4                                          46907.975               0
5                                           3110.972               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                  3281.95768                 1116.482   73634.015865
3                           0                  179.949   18389.036379
4                  2090.48581                 1370.163  256767.691243
5                           0                  769.884   25433.991736

         Unnamed: 10
0                NaN
1  Unique Patients**
2               4310
3               1411
4               9870
5               3198
=====================================
OH
tbl_OH

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          1748.473751
3                                 ALLEN          6676.301474
4                               ASHLAND          3725.239554
5                             ASHTABULA          7692.517406

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       21502.131968                10007.32             0
3       48506.996882               26218.165             0
4       28561.712451               13537.247             0
5       71181.551372               32510.284             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            549.243               0
3                                           2377.194               0
4                                           1872.794               0
5                                           1942.065               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  338.479  10607.089968
3                           0                  304.655  19606.982882
4                           0                  198.311  12953.360451
5                           0                  322.838  36406.364372

         Unnamed: 10
0                NaN
1  Unique Patients**
2                707
3               1905
4               1379
5               3015
=====================================
OK
tbl_OK

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAIR           1281.08768
3                               ALFALFA           441.514369
4                                 ATOKA          1002.075589
5                                BEAVER            293.27568

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       16851.237804               10362.853             0
3        2438.206501                1404.838             0
4       12679.274882                7772.052             0
5        1703.489226                 948.065             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            312.693               0
3                                             65.329               0
4                                            149.403               0
5                                             37.947               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   30.314   6145.377804
3                           0                  117.706    850.333501
4                           0                    4.671   4753.148882
5                           0                       10    707.477226

         Unnamed: 10
0                NaN
1  Unique Patients**
2                492
3                 95
4                367
5                 71
=====================================
OR
tbl_OR

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 BAKER          1784.900953
3                                BENTON          5290.963448
4                             CLACKAMAS         28172.424745
5                               CLATSOP          3794.229632

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       21867.889864               11545.974             0
3       38188.927781               18906.068             0
4      239615.983335              114430.456             0
5       34709.757807               17984.579             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            406.295               0
3                                           7288.916               0
4                                          15682.546               0
5                                           1189.263               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                           0                    89.37    9826.250864
3                           0                   376.95   11616.993781
4                           0                 1961.648  107541.333335
5                           0                   81.775   15454.140807

         Unnamed: 10
0                NaN
1  Unique Patients**
2                874
3               1288
4               7818
5               1261
=====================================
PA
tbl_PA

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          8213.711243
3                             ALLEGHENY         74021.543014
4                             ARMSTRONG          5149.992355
5                                BEAVER         13601.616059

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       39203.486909               23190.377             0
3      638575.792817                216644.4    2830.56078
4       43176.195885               18497.148             0
5        86041.34566               40054.855             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           3312.118               0
3                                          40811.362               0
4                                           1390.328               0
5                                           5416.746               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                           0                  456.088   12244.903909
3                 24294.73705                 7132.499  346862.233987
4                           0                  377.078   22911.641885
5                           0                  651.406    39918.33866

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1617
3              21413
4               2132
5               5069
=====================================
RI
tbl_RI

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               BRISTOL          2646.600865
3                                  KENT         11567.106326
4                               NEWPORT          7231.203179
5                            PROVIDENCE         29127.553689

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       28569.179494               13109.376             0
3      117073.183632               54072.864             0
4        53268.53234               30103.715             0
5      366144.232307              123555.352   16944.18694

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           2162.074               0
3                                           9974.802               0
4                                            6715.13               0
5                                          21505.585               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                           0                  143.593   13154.136494
3                           0                  1057.92   51967.597632
4                           0                  792.553    15657.13434
5                 34512.91202                 1715.364  167910.832347

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1041
3               4029
4               1678
5              10498
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

SC
tbl_SC
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                             ABBEVILLE          1697.006632
3                                 AIKEN         13549.979997
4                             ALLENDALE           511.307752
5                              ANDERSON         14754.371916

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       19234.931394                11926.31             0
3      148783.287855                69565.59             0
4        6539.148485                3485.523             0
5      115596.450771                70834.51             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                             602.95               0
3                                           6229.543               0
4                                            173.227               0
5                                           4770.351               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  142.079   6563.592394
3                           0                 1265.493  71722.661855
4                           0                    6.088   2874.310485
5                           0                  899.271  39092.318771

         Unnamed: 10
0                NaN
1  Unique Patients**
2                687
3               5270
4                200
5               4744
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

SD
tbl_SD
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                AURORA           196.712422
3                                BEADLE          1099.172661
4                               BENNETT           165.930482
5                             BON HOMME           463.224459

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        2376.827495                1101.377             0
3        7632.119731                3108.179             0
4        2210.375044                1050.475             0
5         4125.26362                1931.118             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                             18.139               0
3                                            260.534               0
4                                             37.025               0
5                                             74.174               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   10.876   1246.435495
3                           0                    4.757   4258.649731
4                           0                       10   1112.875044
5                           0                   11.962    2108.00962

         Unnamed: 10
0                NaN
1  Unique Patients**
2                 89
3                394
4                 89
5                236
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

TN
tbl_TN
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ANDERSON          6277.670742
3                               BEDFORD          2974.010503
4                                BENTON          1554.234008
5                               BLEDSOE           909.878617

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       44871.053076               28723.867             0
3       32641.687815               15074.511             0
4       15562.765677                8449.741             0
5        7272.480382                3312.968             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           2147.003               0
3                                            953.181               0
4                                            341.237               0
5                                            158.867               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   265.46  13734.723076
3                           0                  106.381  16507.614815
4                           0                   11.716   6760.071677
5                           0                   14.996   3785.649382

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1823
3               1080
4                498
5                314
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

TX
tbl_TX
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ANDERSON          3311.815158
3                               ANDREWS           679.984736
4                              ANGELINA          5418.579261
5                               ARANSAS          2504.264592

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       36752.909556               22589.696             0
3        4201.033134                2269.479             0
4       59343.163379               35695.712             0
5       19421.565572               11533.913             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                             991.57               0
3                                            444.114               0
4                                           2065.659               0
5                                            254.301               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  214.409  12957.234556
3                           0                   15.178   1472.262134
4                           0                  237.695  21344.097379
5                           0                  230.772   7402.579572

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1245
3                148
4               2194
5                649
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

UT
tbl_UT
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                BEAVER           317.453876
3                             BOX ELDER          2544.782335
4                                 CACHE          3647.025317
5                                CARBON          1262.448736

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        2718.854724                1216.386             0
3       19907.690349               10468.027             0
4       29833.995502               16249.215             0
5       11654.965044                 6060.05             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                             60.814               0
3                                           1094.966               0
4                                           4778.707               0
5                                            257.225               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   30.751   1410.903724
3                           0                  108.107   8236.590349
4                           0                   138.07   8668.003502
5                           0                  188.317   5149.373044

         Unnamed: 10
0                NaN
1  Unique Patients**
2                 77
3                693
4                889
5                403
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

VA
tbl_VA
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ACCOMACK          2920.677191
3                             ALBEMARLE          7231.289361
4                             ALLEGHANY          1372.475927
5                                AMELIA          1086.085002

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       18528.590882               11246.788             0
3       34681.975085               19282.413             0
4        8955.510931                 2505.77             0
5       12089.782061                 5010.53             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            832.489               0
3                                           4237.204               0
4                                            179.768               0
5                                            475.463               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  243.616   6205.697882
3                           0                   881.83  10280.528085
4                           0                    2.572   6267.400931
5                           0                   68.827   6534.962061

         Unnamed: 10
0                NaN
1  Unique Patients**
2                718
3               1218
4                486
5                372
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

VT
tbl_VT
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               ADDISON          2104.628965
3                            BENNINGTON          2614.735202
4                             CALEDONIA          2298.777566
5                            CHITTENDEN          8679.343087

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        13260.87362                6512.507             0
3       21156.131751                9924.918             0
4       21573.539038                9223.789             0
5       54835.434097               27666.697             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            758.667               0
3                                            923.989               0
4                                           1062.428               0
5                                           7880.994               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  133.513    5856.18662
3                           0                  190.316  10116.908751
4                           0                  285.112  11002.210038
5                           0                  837.545  18450.198097

         Unnamed: 10
0                NaN
1  Unique Patients**
2                668
3               1059
4                852
5               2283
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

WA
tbl_WA
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS           572.963691
3                                ASOTIN          2204.891884
4                                BENTON         13841.448509
5                                CHELAN          4682.711194

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2        4088.781009                2535.314             0
3        17514.31604                9001.741             0
4        92816.42617               51490.053             0
5       34080.943473               19303.883             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            125.425               0
3                                            354.964               0
4                                           6648.358               0
5                                           1225.574               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   60.052   1367.990009
3                           0                  146.291    8011.32004
4                           0                  512.011   34166.00417
5                           0                  365.128  13186.358473

         Unnamed: 10
0                NaN
1  Unique Patients**
2                142
3                734
4               3664
5               1404
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

WI
tbl_WI
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                 ADAMS          2141.863485
3                               ASHLAND          1239.357055
4                                BARRON          3407.713091
5                              BAYFIELD          1440.879755

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       20489.744995                6557.104             0
3        8586.572158                5389.955             0
4       27672.203337               14062.511             0
5       11724.799668                5505.818             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                             49.825               0
3                                            309.441               0
4                                            772.789               0
5                                            159.285               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                   40.743  13842.072995
3                           0                   75.403   2811.773158
4                           0                  119.038  12717.865337
5                           0                   61.767   5997.929668

         Unnamed: 10
0                NaN
1  Unique Patients**
2               1003
3                420
4               1331
5                589
=====================================
WV
tbl_WV

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                               BARBOUR          1223.338206
3                              BERKELEY         10797.970216
4                                 BOONE          1424.233215
5                               BRAXTON          1163.494925

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       16088.510969                6552.365             0
3      592211.833638               61114.732   18079.48931
4       16616.528732               10186.006             0
5       16580.827187                7207.338             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            302.819               0
3                                           5096.454               0
4                                            253.524               0
5                                             101.51               0

                   Unnamed: 7               Unnamed: 8     Unnamed: 9  \
0                         NaN                      NaN            NaN
1  General Operating Expenses  Insurance & Indemnities   Medical Care
2                           0                  111.012    9122.314969
3                400660.77743                  351.902  106908.478898
4                           0                   111.47    6065.528732
5                           0                    11.62    9260.359187

         Unnamed: 10
0                NaN
1  Unique Patients**
2                583
3               4621
4                523
5                604
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

WY
tbl_WY
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                ALBANY          2119.803937
3                              BIG HORN            847.82083
4                              CAMPBELL           2951.78415
5                                CARBON           993.787376

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2       21298.361959                9400.514             0
3        7522.598438                3028.122             0
4       24040.504685               11119.928             0
5        9004.231227                3924.847             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                           3113.277               0
3                                            123.824               0
4                                            708.459               0
5                                            181.924               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  106.385   8678.185959
3                           0                   18.984   4351.668438
4                           0                   55.543  12156.574685
5                           0                   10.345   4887.115227

         Unnamed: 10
0                NaN
1  Unique Patients**
2                716
3                381
4               1109
5                405
=====================================
PR
tbl_PR

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                              ADJUNTAS                  NaN
3                                AGUADA                  NaN
4                             AGUADILLA                  NaN
5                          AGUAS BUENAS                  NaN

          Unnamed: 2               Unnamed: 3    Unnamed: 4  \
0                NaN                      NaN           NaN
1  Total Expenditure  Compensation & Pensions  Construction
2        6720.692712                 4169.838             0
3        14931.05031                 9827.775             0
4       40352.905067                24763.934             0
5        9839.075824                 3974.576             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                            285.072               0
3                                            806.353               0
4                                           2032.855               0
5                                            296.172               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                     42.5   2223.282712
3                           0                    0.003    4296.91931
4                           0                   68.706  13487.410067
5                           0                        0   5568.327824

         Unnamed: 10
0                NaN
1  Unique Patients**
2                238
3                458
4               1199
5                309
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

GU
tbl_GU
  FY19 Summary of Expenditures by State           Unnamed: 1  \
0                 Expenditures in $000s                  NaN
1        County/ Congressional District  Veteran Population*
2                                  Guam         10183.182778
3                                   NaN                  NaN
4                                   NaN                  NaN
5                         Guam (Totals)         10183.182778

          Unnamed: 2              Unnamed: 3    Unnamed: 4  \
0                NaN                     NaN           NaN
1  Total Expenditure  Compensation & Pension  Construction
2      129465.059659               70144.229             0
3                NaN                     NaN           NaN
4                NaN                     NaN           NaN
5      129465.059659               70144.229             0

                                          Unnamed: 5      Unnamed: 6  \
0                                                NaN             NaN
1  Education & Vocational Rehabilitation/ Employment  Loan Guaranty#
2                                          16003.371               0
3                                                NaN             NaN
4                                                NaN             NaN
5                                          16003.371               0

                   Unnamed: 7               Unnamed: 8    Unnamed: 9  \
0                         NaN                      NaN           NaN
1  General Operating Expenses  Insurance & Indemnities  Medical Care
2                           0                  588.148  42729.311659
3                         NaN                      NaN           NaN
4                         NaN                      NaN           NaN
5                           0                  588.148  42729.311659

         Unnamed: 10 Unnamed: 11
0                NaN         NaN
1  Unique Patients**         NaN
2               3073         NaN
3                NaN         NaN
4                NaN         NaN
5               3073         NaN
=====================================

C:\Users\derya\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [6]:
df.head(10)

,FY19 Summary of Expenditures by State,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Expenditures in $000s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,County/ Congressional District,Veteran Population*,Total Expenditure,Compensation & Pension,Construction,Education & Vocational Rehabilitation/ Employment,Loan Guaranty#,General Operating Expenses,Insurance & Indemnities,Medical Care,Unique Patients**,NaN
2,Guam,10183.182778,129465.059659,70144.229,0,16003.371,0,0,588.148,42729.311659,3073,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Guam (Totals),10183.182778,129465.059659,70144.229,0,16003.371,0,0,588.148,42729.311659,3073,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Notes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
9,"* Veteran population estimates, as of Septembe...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.to_csv('Annual_Expenditures/GDX_FY19.csv')